{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Визовый режим" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/visa/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/visa/index.js"></script>
{% endblock %}

{% block content %}

<section class="visa">
  <div class="container">
    <h1 class="title-1 visa__title gsap-reveal">Визовый режим</h1>
    <div class="visa__content">
      <div class="visa__content-col">
        <div class="overlay visa-card gsap-reveal" data-gsap-delay="300">
          <div class="visa-card__title">До 14 дней</div>
          <div class="visa-card__body">
            <div class="visa-card__item">
              <div class="visa-card__label">Гонконг</div>
              <img title="Flag" src="@images/flags/Hong Kong.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Индия</div>
              <img title="Flag" src="@images/flags/India.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Иран</div>
              <img title="Flag" src="@images/flags/Iran.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Китай</div>
              <img title="Flag" src="@images/flags/China.png" alt="">
            </div>
          </div>
        </div>
        <div class="overlay visa-card gsap-reveal">
          <div class="visa-card__title">До 90 дней</div>
          <div class="visa-card__body">
            <div class="visa-card__item">
              <div class="visa-card__label">Андора</div>
              <img title="Flag" src="@images/flags/Andorra.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Армения</div>
              <img title="Flag" src="@images/flags/Armenia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Беларус</div>
              <img title="Flag" src="@images/flags/Belarus.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Грузия</div>
              <img title="Flag" src="@images/flags/Georgia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Украина</div>
              <img title="Flag" src="@images/flags/Ukraine.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Киргизстан</div>
              <img title="Flag" src="@images/flags/Kyrgyzstan.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Молдова</div>
              <img title="Flag" src="@images/flags/Moldova.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Монголия</div>
              <img title="Flag" src="@images/flags/Mongolia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Россия</div>
              <img title="Flag" src="@images/flags/Russia.png" alt="">
            </div>
          </div>
        </div>
        <div class="visa__image overlay gsap-reveal">
          <img src="@images/plane.png" alt="">
        </div>
      </div>
      <div class="visa__content-col">
        <div class="overlay visa-card gsap-reveal" data-gsap-delay="600">
          <div class="visa-card__title">До 30 дней</div>
          <div class="visa-card__body">
            <div class="visa-card__item">
              <div class="visa-card__label">Австралия</div>
              <img title="Flag" src="@images/flags/Australia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Австрия</div>
              <img title="Flag" src="@images/flags/Austria.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Азербайджан</div>
              <img title="Flag" src="@images/flags/Azerbaijan.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Бахрейн</div>
              <img title="Flag" src="@images/flags/Bahrain.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Аргентина</div>
              <img title="Flag" src="@images/flags/Argentina.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Белгия</div>
              <img title="Flag" src="@images/flags/Belgium.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Болгария</div>
              <img title="Flag" src="@images/flags/Bulgaria.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Бразилия</div>
              <img title="Flag" src="@images/flags/Brazil.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Великобритания</div>
              <img title="Flag" src="@images/flags/U.K..png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Венгрия</div>
              <img title="Flag" src="@images/flags/Hungary.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Германия</div>
              <img title="Flag" src="@images/flags/Germany.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Греция</div>
              <img title="Flag" src="@images/flags/Greece.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Израиль</div>
              <img title="Flag" src="@images/flags/Israel.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Испания</div>
              <img title="Flag" src="@images/flags/Spain.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Италия</div>
              <img title="Flag" src="@images/flags/Italy.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Канада</div>
              <img title="Flag" src="@images/flags/Canada.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Катар</div>
              <img title="Flag" src="@images/flags/Qatar.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Южная Корея</div>
              <img title="Flag" src="@images/flags/South Korea.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Латвия</div>
              <img title="Flag" src="@images/flags/Latvia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Литвия</div>
              <img title="Flag" src="@images/flags/Lithuania.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Люксембург</div>
              <img title="Flag" src="@images/flags/Luxemburg.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Норвегия</div>
              <img title="Flag" src="@images/flags/Norway.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Объединенные Арабские Эмираты</div>
              <img title="Flag" src="@images/flags/U.A.E..png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Оиан</div>
              <img title="Flag" src="@images/flags/Oman.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Польша</div>
              <img title="Flag" src="@images/flags/Poland.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Португалия</div>
              <img title="Flag" src="@images/flags/Portugal.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Румыния</div>
              <img title="Flag" src="@images/flags/Romania.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Саудовская Аравия</div>
              <img title="Flag" src="@images/flags/Saudi Arabia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Сербия</div>
              <img title="Flag" src="@images/flags/Serbia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Польша</div>
              <img title="Flag" src="@images/flags/Poland.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Сингапур</div>
              <img title="Flag" src="@images/flags/Singapore.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Словакия</div>
              <img title="Flag" src="@images/flags/Slovakia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Словения</div>
              <img title="Flag" src="@images/flags/Slovenia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Соединённые Штаты Америки</div>
              <img title="Flag" src="@images/flags/U.S..png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Таджикистан</div>
              <img title="Flag" src="@images/flags/Tajikistan.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Турция</div>
              <img title="Flag" src="@images/flags/Turkey.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Узбекистан</div>
              <img title="Flag" src="@images/flags/Uzbekistan.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Франция</div>
              <img title="Flag" src="@images/flags/France.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Хорватия</div>
              <img title="Flag" src="@images/flags/Croatia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Чехия</div>
              <img title="Flag" src="@images/flags/Czechia.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Япония</div>
              <img title="Flag" src="@images/flags/Japan.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}