{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Visa" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/visa/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/visa/index.js"></script>
{% endblock %}

{% block content %}

<section class="visa">
  <div class="container">
    <h1 class="title-1 visa__title gsap-reveal">Медицинская виза</h1>
    <div class="visa__content">
      <div class="visa__content-col">
        <div class="overlay visa-card gsap-reveal" data-gsap-delay="300">
          <div class="visa-card__title">До 14 дней</div>
          <div class="visa-card__body">
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
          </div>
        </div>
        <div class="overlay visa-card gsap-reveal">
          <div class="visa-card__title">До 90 дней</div>
          <div class="visa-card__body">
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
          </div>
        </div>
        <div class="visa__image overlay gsap-reveal">
          <img src="@images/plane.png" alt="">
        </div>
      </div>
      <div class="visa__content-col">
        <div class="overlay visa-card gsap-reveal" data-gsap-delay="600">
          <div class="visa-card__title">До 30 дней</div>
          <div class="visa-card__body">
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
            <div class="visa-card__item">
              <div class="visa-card__label">Flag</div>
              <img title="Flag" src="@images/flag.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}