{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="KAMT на 'OTDYH LEISURE 2023'е" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/news-10-04/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/news-10-04/index.js"></script>
{% endblock %}

{% block content %}
<section class="news-id-page">
  <div class="container">
    <div class="title-3 news-id-page__title gsap-reveal">РОЗОВЫЙ ОКТЯБРЬ – МЕЖДУНАРОДНЫЙ МЕСЯЦ БОРЬБЫ ПРОТИВ РАКА ГРУДИ.</div>
    <div class="news-id-page__date gsap-reveal" data-gsap-delay="150">4 октября</div>
    <div class="news-id-page__banner">
      <img class="gsap-reveal" src="@images/news/new-october-1.jpeg" alt="" data-gsap-delay="300" style="object-fit: contain;width: auto;">
    </div>
    <div class="news-id-page__body">
      <div class="news-id-page__share-block share-block gsap-reveal" data-gsap-delay="500">
        <div class="share-block__title">Поделиться</div>
        <ul class="share-block__links">
          <li class="share-block__link"><a href="/"><img src="@images/icons/twitter.svg" alt=""></a></li>
          <li class="share-block__link"><a href="/"><img src="@images/icons/facebook.svg" alt=""></a></li>
          <li class="share-block__link"><a href="/"><img src="@images/icons/instagram.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="news-id-page__content">
        <div class="news-id-page__text">
          <p class="gsap-reveal" data-gsap-delay="200">В октябре начинается Всемирный месяц борьбы против рака груди, который был объявлен Всемирной организацией здравоохранения (ВОЗ) в 1993 году. Ежегодно 15 октября в 44 странах мира проводится Всемирный День борьбы с раком молочной железы.</p>
          <p class="gsap-reveal" data-gsap-delay="200">Международный символ борьбы против рака молочной железы — розовая лента.</p>
          <p class="gsap-reveal" data-gsap-delay="200">Одна из создательниц символической розовой ленточки — Эвелин Лаудер, занимавшая в 1992 году пост старшего вице-президента корпорации Estée Lauder. С тех пор бренд ежегодно участвует в акциях «Розового октября» и регулярно жертвует часть своих доходов в благотворительные фонды и организации, которые занимаются исследованием рака молочной железы.</p>
          <p class="gsap-reveal" data-gsap-delay="200">Весь мир окрашивается в розовый цвет, чтобы каждая женщина знала о необходимости регулярно проходить обследование, а те, кто столкнулся с заболеванием, получили поддержку.</p>
					<img class="img-short img-short-0 gsap-reveal" src="@images/news/new-october-2.png" alt="" data-gsap-delay="200">
          <p class="gsap-reveal" data-gsap-delay="200">Рак молочной железы – это наиболее частая форма рака среди женщин, с показателями заболеваемости 99,4 на 100 000 женщин в возрасте от 13 до 90 лет.  По статистике, рак молочной железы – не только самая распространенная форма злокачественных заболеваний у женщин, но и одна из тех, что наиболее успешно излечивается при своевременно установленном диагнозе.  Ранняя диагностика злокачественных новообразований молочной железы позволяет полностью вылечить болезнь в 98% случаев.</p>
          <p class="gsap-reveal" data-gsap-delay="200">По наблюдениям врачей,  большинство женщин о существовании опухоли даже не догадываются – на ранних стадиях болезнь протекает бессимптомно и обнаружить ее можно лишь с помощью методов диагностики.  Риск возникновения патологи увеличивается с возрастом, большая часть пациентов (77%) старше 50 лет, на долю молодых девушек приходится 0,3%.</p>
          <p class="gsap-reveal" data-gsap-delay="200"><strong>В группу риска развития рака молочной железы включают женщин, у которых отмечаются:</strong></p>
          <ul class="gsap-reveal" data-gsap-delay="200">
            <li>Позднее появление менструаций (17 лет и более) и, напротив, раннее появление (ранее 12 лет);</li>
            <li>Поздняя менопауза (55 лет и старше);</li>
            <li>Отсутствие родов;</li>
            <li>Поздние первые роды (после 35 лет);</li>
            <li>Доброкачественные опухоли молочной железы;</li>
            <li>Дисфункциональные нарушения яичников;</li>
            <li>Имеется анамнез других онкологических заболеваний;</li>
          </ul>
          <p class="gsap-reveal" data-gsap-delay="200">Эти женщины должны проходить  маммографические исследования по достижении 25 лет.  Каждая женщина после 40 лет должна проходить маммографию раз в год.</p>
          <p class="gsap-reveal" data-gsap-delay="200"><strong>НО! Независимо от возраста,  при выявлении любых образований в груди,  необходимо обратиться к онкологу.</strong></p>
          <p class="gsap-reveal" data-gsap-delay="200"><strong>ЕЖЕГОДНО В КАЗАХСТАНЕ ВЫЯВЛЯЕТСЯ ДО 5000 СЛУЧАЕВ РАКА МОЛОЧНОЙ ЖЕЛЕЗЫ.</strong></p>
          <p class="gsap-reveal" data-gsap-delay="200">В  Республике Казахстан более 10 лет проводится программа «Национальный Скрининг для женщин» по раннему выявлению рака молочной железы. В рамках скрининга женщины в возрасте 40-70 лет 1 раз в 2 года имеют право БЕСПЛАТНО пройти маммографию обеих молочных желез в двух проекциях.</p>
          <p class="gsap-reveal" data-gsap-delay="200">Все снимки проходят двойное чтение: первое чтение осуществляет врач-рентгенолог кабинета маммографии поликлиники (или передвижного медицинского комплекса). Второе чтение проводит врач-рентгенолог кабинета маммографии онкологического центра.</p>
          <p class="gsap-reveal" data-gsap-delay="200">При необходимости женщинам проводится дополнительная диагностика: это прицельная маммография, УЗИ молочных желез, трепанобиопсия.</p>
          <p class="gsap-reveal" data-gsap-delay="200"><strong>ДИАГНОСТИКА:</strong></p>
					<img class="img-short img-short-1 gsap-reveal" src="@images/news/new-october-3.png" alt="" data-gsap-delay="200">
					<img class="img-short img-short-2 gsap-reveal" src="@images/news/new-october-4.png" alt="" data-gsap-delay="200">
          <p class="gsap-reveal" data-gsap-delay="200"><strong>Милые женщины, берегите себя! <br> И будьте всегда здоровы!</strong></p>
        </div>
        <div class="news-id-page__hashtags gsap-reveal" data-gsap-delay="200">
          <span>#Здравоохранение</span>
          <span>#Общество</span>
        </div>
      </div>
    </div>
    <!-- <div class="title-1 news-id-page__title news-id-page__title--big gsap-reveal" data-gsap-delay="200">Другие новости</div> -->
    <!-- <div class="news-recomendations">
      <div class="news-recomendations__list">
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="400">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="/news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="500">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="/news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="600">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="/news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="700">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="/news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
    </div> -->
</section>
{% endblock %}