@use '@styles/main.scss';
@use '@styles/abstracts/_variables.scss' as var;
@use '@styles/base/mixins' as mixin;

.check-up-list {
  padding-top: 7rem;
  padding-bottom: 10.5rem;

  @include mixin.wide-tablet { padding-top: 4rem; padding-bottom: 6rem; }

  &__title {
    margin-bottom: 5rem;

    @include mixin.wide-tablet { margin-bottom: 2rem; }
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;

    @include mixin.wide-tablet { gap: 1.2rem; }
    @include mixin.small-tablet { flex-wrap: wrap; }
  }

  &__menu {
    flex-basis: 34.2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;

    @include mixin.wide-tablet { flex-basis: unset; flex-grow: 1; }
  }

  &__item {
    padding: 2.9rem 1.9rem;
    border-radius: 1rem;
    background: var.$color1;
    box-shadow: 10px 8px 60px 0 rgba(var.$color22, 0.05);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: var.$color2;
    transition: 0.3s linear;

    @include mixin.wide-tablet { padding: 1.5rem 1rem; font-size: 1.8rem; }
    @include mixin.tablet { padding: 1rem 1rem; font-size: 1.6rem; }

    &--active,
    &:hover {
      background: var.$color3;
      color: var.$color1;
    }
  }

  &__contents {
    flex-grow: 1;
  }
}

.check-clinic {
  width: 100%;
  display: none;

  &--active {
    display: block;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var.$color2;
    margin-bottom: 3rem;

    @include mixin.laptop { font-size: 2.4rem; }
    @include mixin.small-laptop { font-size: 2.2rem;margin-bottom: 2.7rem; }
    @include mixin.wide-tablet { font-size: 2rem;margin-bottom: 2.4rem; }
    @include mixin.tablet { font-size: 1.8rem; margin-bottom: 1.8rem; }
    @include mixin.small-tablet { font-size: 1.6rem; margin-bottom: 1.5rem; }
  }

  &__body {
    border-radius: 1rem;
    background: var.$color1;
    box-shadow: 0 0 60px 0 rgba(var.$color22, 0.05);
    overflow: hidden;
    margin-bottom: 3rem;

    @include mixin.small-laptop { margin-bottom: 2.7rem; }
    @include mixin.wide-tablet { margin-bottom: 2.4rem; }
    @include mixin.tablet { margin-bottom: 1.8rem; }
    @include mixin.small-tablet { margin-bottom: 1.5rem; }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    padding: 3.5rem;
    cursor: pointer;

    @include mixin.small-laptop { padding: 2.7rem; }
    @include mixin.wide-tablet { padding: 2.4rem; }
    @include mixin.tablet { padding: 1.8rem; }
    @include mixin.small-tablet { padding: 1.5rem; }
  }

  &__subtitle {
    width: 100%;
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    color: var.$color2;
    padding-right: 3.2rem;
    margin-bottom: 1rem;

    @include mixin.laptop { font-size: 2.2rem; }
    @include mixin.small-laptop { font-size: 2rem; }
    @include mixin.wide-tablet { font-size: 1.8rem; }
    @include mixin.tablet { font-size: 1.6rem; }
    @include mixin.small-tablet { font-size: 1.6rem; }

    svg {
      position: absolute;
      display: block;
      right: 0;
      top: 50%;
      width: 2.4rem;
      height: 2.4rem;
      margin-top: -1.2rem;
      transform-origin: center;
      transition: 0.3s linear;
    }
  }

  &__body--active &__subtitle {
    svg {
      transform: rotateZ(180deg);
    }
  }

  &__cost {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var.$color24;

    @include mixin.laptop { font-size: 2.2rem; }
    @include mixin.small-laptop { font-size: 2rem; }
    @include mixin.wide-tablet { font-size: 1.8rem; }
    @include mixin.tablet { font-size: 1.6rem; }
    @include mixin.small-tablet { font-size: 1.6rem; }

    span:last-child {
      color: var.$color3;
    }
  }

  &__content {
    height: 0;
    box-sizing: border-box;
    padding: 3.5rem;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  &__body--active &__content {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 4.2rem;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;

    a {
      display: block;
      border-radius: 1rem;
      padding: 1.5rem;
      font-family: var.$font-family;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2;
      color: var.$color1;
      text-decoration: none;
      background: var.$color4;

      @include mixin.tablet { font-size: 1.4rem; }
      @include mixin.small-tablet { font-size: 1.2rem; }
    }
  }

  &__list {
    div {
      width: 100%;
      border-bottom: 1px solid #E4EAF0;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: 500;
      color: var.$color24;
      padding-bottom: 1rem;
      
      @include mixin.tablet { font-size: 1.4rem; }
      @include mixin.small-tablet { font-size: 1.2rem; }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}