@use '@styles/main.scss';
@use '@styles/abstracts/_variables.scss' as var;
@use '@styles/base/mixins' as mixin;

.sanatory {
  padding-bottom: 83rem;

  @include mixin.laptop {
    padding-bottom: 70rem;
  }

  @include mixin.wide-tablet {
    padding-bottom: 58rem;
  }

  @include mixin.tablet {
    padding-bottom: 46rem;
  }

  @include mixin.small-tablet {
    padding-bottom: 34rem;
  }

  @include mixin.phone {
    padding-bottom: 22rem;
  }

  @include mixin.sm-phone {
    padding-bottom: 10rem;
  }

  &__banner {
    min-height: unset;
    max-height: 750px;

    &:before {
      background-image: url('@images/sanatory/grand_prix_burabay-banner.jpg');
    }
  }
}

.sanatory-page {
  .row {
    @include mixin.small-tablet {
      flex-wrap: wrap;
    }
  }

  &__content {
    width: 100%;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 7rem;

    @include mixin.laptop {
      margin-top: -9rem;
      gap: 6.2rem;
    }

    @include mixin.wide-tablet {
      margin-top: -8.2rem;
      gap: 5.6rem;
    }

    @include mixin.tablet {
      margin-top: -7.4rem;
      gap: 5rem;
    }

    @include mixin.small-tablet {
      margin-top: -6.6rem;
      gap: 4.4rem;
    }

    @include mixin.phone {
      margin-top: -5.8rem;
      gap: 3.6rem;
    }

    @include mixin.sm-phone {
      margin-top: -5rem;
      gap: 3rem;
    }

    .overlay img {
      max-width: 50%;
      margin: 0 auto;

      @include mixin.small-tablet {
        max-width: 100%;
        max-height: 40rem;
        object-fit: contain;
      }
    }

    .float-text-block {
      padding: 0 0 25px 0;

      .img {
        float: left;
        width: 40%;
        margin-right: 30px;
        margin-bottom: 10px;
        border-bottom-right-radius: 15px;
        overflow: hidden;

        @include mixin.wide-tablet {
          width: 45%;
        }

        @include mixin.tablet {
          width: 50%;
        }

        @include mixin.phone {
          width: 100%;
          margin-right: 0;
        }

        img {
          max-width: 100% !important;
          width: 100%;
        }
      }

      p {
        padding-left: 30px;
        padding-right: 30px;
      }

      .title-2 {
        margin-top: 25px;
      }
    }
  }
}

.sanatory-way {
  padding: 9.5rem;

  @include mixin.laptop {
    padding: 8rem;
  }

  @include mixin.wide-tablet {
    padding: 7rem;
  }

  @include mixin.tablet {
    padding: 6rem;
  }

  @include mixin.small-tablet {
    padding: 5rem;
  }

  @include mixin.phone {
    padding: 4rem;
  }

  @include mixin.sm-phone {
    padding: 3rem;
  }

  &__title {
    margin-bottom: 5rem;

    @include mixin.laptop {
      margin-bottom: 4.3rem;
    }

    @include mixin.wide-tablet {
      margin-bottom: 3.8rem;
    }

    @include mixin.tablet {
      margin-bottom: 3.3rem;
    }

    @include mixin.small-tablet {
      margin-bottom: 2.8rem;
    }

    @include mixin.phone {
      margin-bottom: 2.3rem;
    }

    @include mixin.sm-phone {
      margin-bottom: 1.8rem;
    }
  }

  &__body {
    max-width: 107.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 6.9rem;

    @include mixin.laptop {
      gap: 8rem;
    }

    @include mixin.wide-tablet {
      gap: 7rem;
    }

    @include mixin.tablet {
      gap: 6rem;
    }

    @include mixin.small-tablet {
      gap: 5rem;
      flex-wrap: wrap;
    }

    @include mixin.phone {
      gap: 4rem;
    }

    @include mixin.sm-phone {
      gap: 3rem;
    }
  }

  .sanatory-option {
    max-width: 23.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include mixin.small-tablet {
      width: 40%;
    }

    @include mixin.phone {
      width: 60%;
    }

    &__icon {
      width: 10.2rem;
      height: 10.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var.$color3;
      margin-bottom: 2.5rem;
      border-radius: 50%;

      img {
        max-width: 70%;
      }

      @include mixin.laptop {
        width: 9rem;
        height: 9rem;
      }

      @include mixin.wide-tablet {
        width: 8.2rem;
        height: 8.2rem;
      }

      @include mixin.tablet {
        width: 7.4rem;
        height: 7.4rem;
        margin-bottom: 2rem;
      }

      @include mixin.small-tablet {
        width: 6.6rem;
        height: 6.6rem;
      }

      @include mixin.phone {
        width: 5.8rem;
        height: 5.8rem;
        margin-bottom: 1.5rem;
      }

      @include mixin.sm-phone {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1rem;
      }
    }

    &__title {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      color: var.$color2;
      font-family: var.$font-family2;

      @include mixin.laptop {
        font-size: 2.2rem;
      }

      @include mixin.wide-tablet {
        font-size: 2rem;
      }

      @include mixin.tablet {
        font-size: 1.8rem;
      }

      @include mixin.small-tablet {
        font-size: 1.6rem;
      }

      @include mixin.phone {
        font-size: 1.4rem;
      }

      @include mixin.sm-phone {
        font-size: 1.2rem;
      }
    }
  }
}

.sanatory-slide {
  position: relative;
  margin-bottom: 18.3rem;

  @include mixin.laptop {
    margin-bottom: 15rem;
  }

  @include mixin.wide-tablet {
    margin-bottom: 13rem;
  }

  @include mixin.tablet {
    margin-bottom: 11rem;
  }

  @include mixin.small-tablet {
    margin-bottom: 9rem;
  }

  @include mixin.phone {
    margin-bottom: 7rem;
  }

  @include mixin.sm-phone {
    margin-bottom: 5rem;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__text {
    margin-bottom: 3rem;

    @include mixin.small-tablet {
      width: 40%;
    }

    @include mixin.phone {
      width: 60%;
    }
  }

  &__item {
    width: 100%;
  }

  &__img {
    width: 100%;
    aspect-ratio: 2.26;
    max-height: 645px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }

  &__label {
    margin-top: 2rem;
  }

  &__body {
    overflow: hidden;
  }

  &__swiper-control {
    @include mixin.tablet {
      display: none;
    }

    div {
      width: 6%;
      position: absolute;
      top: 50%;
      z-index: 5;
      cursor: pointer;

      svg {
        width: 100%;
      }
    }

    div.swiper-button-disabled {
      filter: grayscale(1);
    }
  }

  &__swiper-button-prev {
    left: -10%;
    transform-origin: center;
    transform: rotateZ(180deg);

    @include mixin.laptop {
      left: 5%;
    }
  }

  &__swiper-button-next {
    right: -10%;

    @include mixin.laptop {
      right: 5%;
    }
  }

  &__pagination {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    border-bottom: 1px solid rgba(var.$color3, 0.2);
  }

  &__counter {
    font-family: var.$font-family2;
    color: var.$color11;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  &__count {
    color: var.$color12;
    font-size: 1.4rem;
  }

  &__border {
    position: absolute;
    bottom: -1px;
    z-index: 1;
    height: 1px;
    background: var.$color3;
    transition: 0.3s linear;
  }
}

.okjetpes-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  padding: 35px 15px;
}

.okjetpes-1 {
  width: 150px;
}

.okjetpes-2 {
  width: 100px;
}

.okjetpes-3 {
  width: 100px;
}