@use '@styles/main.scss';
@use '@styles/abstracts/_variables.scss' as var;
@use '@styles/base/mixins' as mixin;

.sanatory-table {
  padding-bottom: 83rem;

  @include mixin.laptop {
    padding-bottom: 70rem;
  }

  @include mixin.wide-tablet {
    padding-bottom: 58rem;
  }

  @include mixin.tablet {
    padding-bottom: 46rem;
  }

  @include mixin.small-tablet {
    padding-bottom: 34rem;
  }

  @include mixin.phone {
    padding-bottom: 22rem;
  }

  @include mixin.sm-phone {
    padding-bottom: 10rem;
  }

  &__banner {
    min-height: unset;
    max-height: 750px;

    &:before {
      background-image: url('@images/sanatory/sanatory-table.jpg');
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    overflow: auto;
    margin-top: -10rem;
  }
}

.san-table {
  width: 100%;
  min-width: 780px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 4.8rem 4.5rem;
  font-size: 1.8rem;

  @include mixin.wide-tablet {
    padding: 2.8rem 3.5rem;
    font-size: 1.6rem;
  }

  @include mixin.small-tablet {
    padding: 1.5rem 2.3rem;
    font-size: 1.4rem;
  }

  &__row {
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &:first-child {
      border-top: 1px solid #000;
    }

    &--head {
      background: var.$color13;
      font-weight: 700;
    }

    &--line {
      background: var.$color15;
      grid-template-columns: repeat(1, 1fr);
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  &__col {
    padding: 2rem 2.5rem;
    border-right: 1px solid #000;

    @include mixin.wide-tablet {
      padding: 1.5rem 2rem;
    }
  
    @include mixin.small-tablet {
      padding: 1rem 1.5rem;
    }
  
    
    &:first-child {
      border-left: 1px solid #000;
    }
  }
}