{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Отзывы пациентов" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/foreign/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/foreign/index.js"></script>
{% endblock %}

{% block content %}
<section class="foreign">
  <div class="container">
    <h1 class="title-1 foreign__title gsap-reveal">Отзывы пациентов</h1>
    <div class="foreign__patients">
      <div class="overlay patient gsap-reveal" data-gsap-delay="300">
        <div class="patient__avatar">
          <img src="@images/foreign/foreign-patient-1.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">ЧЕКОШЕВА КАМИЛЛА</div>
          <div class="patient__country">Бишкек, Кыргызстан</div>
          <div class="patient__text">Мне понравилось, что самим не надо никуда ходить Я Вам позвонила и Вы все сделали.
            Я думала в клинике проблемы будут, но и тут все было четко. Мы обязательно еще приедем. Я буду Вашим
            "сарафанным радио" в Кырызстане. <br> Спасибо Вам большое!</div>
          <!-- <div class="patient__gallery">
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
          </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/foreign/foreign-patient-2.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">БАЖБЕНОВА САЛТАНАТ</div>
          <div class="patient__country">Астана, Казахстан</div>
          <div class="patient__text">Хочу выразить огромную благодарность ТОО "Альфа МедГрупп", а именно менеджеру по
            медицинскому туризму Есекееву Аскару за полное сопровождение и чуткое отношение. Благодаря слаженной работе
            ТОО "АльфаМедГрупп я без стрессов и оперативно прошла чек-ап. Также хотелось бы поблагодарить всех врачей,
            которые мне помогли в комплексной диагностике. И. конечно же, всех медсестер и работников КТ. Благодарю всех
            кто участвовал в моем чек-ап за профессионализм и за прекрасное отношение.</div>
            <!-- <div class="patient__gallery">
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
            </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/tajikistan.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">Нурапиев Бобохоза</div>
          <div class="patient__country">Республика Таджикистан</div>
          <div class="patient__text">Я Нурапиев Бобохоза Абдурахимович из Таджикистана, выражаю свою благодарность за
            профессионализм, внимательность к пациентам. Очень доволен результатами приема врачей и медперсонала
            Национального Центра Нейрохирургии. Я очень благодарен Вам, огромное спасибо.</div>
            <!-- <div class="patient__gallery">
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
            </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/jamaica.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">Margorie Jamaica</div>
          <div class="patient__country">Ямайка</div>
          <div class="patient__text">The National Centre of Neuro Surgery. <br>
            My stay here at the hospital was amazing. <br>
            Dr. Baglan Thank you for your professional advice and care with treatment. <br>
            The staff (nurses, Dan... room attendants) were all superb. The language barrier was difficult at times, but
            with the help of Google Translate we managed to understand each other. <br>
            Lots of Love <br>
            Margorie Jamaica!
          </div>
          <!-- <div class="patient__gallery">
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
          </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/foreign/foreign-patient-3.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">ИЩЕНКО ОЛЬГА</div>
          <div class="patient__country">Москва, Россия</div>
          <div class="patient__text">Я выиграла курсы реабилитации от партнера компании Alpha MedGroup. Моя проблема
            была больная спина. Благодаря курсу, полученному в клинике, я почувствовала себя лучше и уже вижу результат
            после второго посещения. Также я привела свою маму так как у нее тоже есть проблемы со спиной.</div>
            <!-- <div class="patient__gallery">
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
            </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/tajikistan.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">Хайдаров Фахриддин</div>
          <div class="patient__country">Республика Таджикистан</div>
          <div class="patient__text">Уважаемый Валерий Васильевич,
            Примите мои искренние поздравления по случаю Дня медицинского работника Республики Казахстан. <br>
            Весьма признательна Вам за постоянное содействие в оказании качественного и своевременного медицинского
            обслуживания. Полученная качественная медицинская помощь от вашего учреждения характеризуется стандартами
            высокого технического уровня и человеческими взаимоотношениями между пациентом и производителям медицинской
            помощи. <br>
            Выражаю уверенность в том, что Ваш профессионализм, неиссякаемая жизненная энергия и высокие человеческие
            качества будут и впредь залогом успеха во всех делах. <br>
            В этот знаменательный день, уважаемый Валерий Васильевич, хочу поздравить Вас и Ваш коллектив в особенности
            за безмерный труд и за поправленное здоровье людей и спасённые жизни докторов, уважаемых Кравицкий Виталий,
            Шахмановой Г.С, Бесеевой Т.Т, Оспанова Жанар, Шариповой Куралай, Жолданбаеву Галымжану, Филиной Наталье и
            пожелать всем вам огромного здоровья, семейного благополучия, жизненной энергии и достатка а дружественному
            коллективу Медицинского центра Управления делами Президента Республики Казахстан счастья, добра и
            благополучия. <br> <br>

            С уважением Хайдаров Фахриддин,
          </div>
          <!-- <div class="patient__gallery">
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
            <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
              <img src="@images/foreign/foreign-galler-1.png" alt="">
            </a>
          </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/foreign/foreign-patient-4.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">КУШЛАК ОЛЬГА</div>
          <div class="patient__country">Москва, Россия</div>
          <div class="patient__text">Мы обратились в компанию AlphaMedGroup по Alpha Med Group по рекомендации, так как
            моему малышу не могли поставить точный диагноз. Компания AlphaMedGroup помогла построить полный маршрут
            начиная от поиска клиники заканчивая знакомством со специалистом. У нас были проблемы с глазками и нам
            ставили разные врачи, разные диагнозы. Но с помощью AlphaMedGroup нам поставили точный диагноз и плюс нас с
            малышом обезопасили от всех страхов поездки в чужой город, мы проживаем в городе Павлодар, а сама клиника
            находится в городе Алматы.</div>
            <!-- <div class="patient__gallery">
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
            </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
      <div class="overlay patient gsap-reveal">
        <div class="patient__avatar">
          <img src="@images/foreign/foreign-patient-5.png" alt="">
        </div>
        <div class="patient__body">
          <div class="title-4 patient__title">РУСТАМОВА ЛЮБОВЬ</div>
          <div class="patient__country">Москва, Россия</div>
          <div class="patient__text">Мы хотим выразить огромную благодарность компании Альфа МедГрупп и нашему
            офтальмологу, которого они нам подобрали. Врач смогла составить правильный курс лечения. Данный специалист
            хорошо помогает детям и помогает правильно доносить пользу ношения очков и как важно следить за здоровьем. А
            АльфаМедгрупп убирает из головы все лишние вопросы. Просто приди вовремя на запись.</div>
            <!-- <div class="patient__gallery">
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
              <a class="patient__gallery-item" href="@images/foreign/foreign-galler-1.png" data-fancybox="patient-1">
                <img src="@images/foreign/foreign-galler-1.png" alt="">
              </a>
            </div> -->
        </div>
        <!-- <button class="btn patient__play">
          <img src="@images/icons/play.svg" alt="">
        </button> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}