{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Sanatory" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/news-id/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/news-id/index.js"></script>
{% endblock %}

{% block content %}
<section class="news-id-page">
  <div class="container">
    <div class="title-3 news-id-page__title gsap-reveal">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
    <div class="news-id-page__date gsap-reveal" data-gsap-delay="150">26 июля</div>
    <div class="news-id-page__banner">
      <img class="gsap-reveal" src="@images/news/news-banner-img-1.png" alt="" data-gsap-delay="300">
    </div>
    <div class="news-id-page__body">
      <div class="news-id-page__share-block share-block gsap-reveal" data-gsap-delay="500">
        <div class="share-block__title">Поделиться</div>
        <ul class="share-block__links">
          <li class="share-block__link"><a href="/"><img src="@images/icons/twitter.svg" alt=""></a></li>
          <li class="share-block__link"><a href="/"><img src="@images/icons/facebook.svg" alt=""></a></li>
          <li class="share-block__link"><a href="/"><img src="@images/icons/instagram.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="news-id-page__content">
        <div class="news-id-page__text">
          <p class="gsap-reveal" data-gsap-delay="200">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали популярные среди
            иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</p>
          <p class="gsap-reveal" data-gsap-delay="200">В прошлом году в медицинских организациях нашей страны проходили лечение 3 884 иностранных пациента, из них
            85% (3 033 человека) госпитализированы в экстренном порядке, 15% (581 человек) - в плановом порядке.</p>
          <p class="gsap-reveal" data-gsap-delay="200">«Для этого в нашей стране внедряются различные инновационные технологии. В 2021 году на базе АО
            «Национальный
            нейрохирургический центр» одним из первых в странах Центральной Азии открылся Центр Гамма-нож, и этот Центр
            считается «золотым стандартом» радиохирургического лечения заболеваний нервной системы. С тех пор, как 27
            мая
            2021 года была запущена радиохирургическая установка Гамма-нож, выполнено более 750 операций. Кроме того,
            строится Национальный научный онкологический центр, где планируется открыть центры протоновой,
            радионуклидной,
            лазерной терапии», - говорится в сообщении департамента.</p>
          <p class="gsap-reveal" data-gsap-delay="200">Оценка текущей ситуации по медицинскому туризму показывает, что у иностранных граждан, прибывающих в
            Казахстан
            на лечение, пользуются спросом нейрохирургия, кардиохирургия, трансплантология, репродуктология (ЭКО),
            ортопедия и травматология, стоматология.</p>
          <p class="gsap-reveal" data-gsap-delay="200">«Министерство здравоохранения поддерживает инициативу по развитию медицинского туризма в Казахстане. Работа
            по
            дальнейшему развитию мобильного медицинского туризма будет продолжаться в соответствии с планом мероприятий
            на
            2023 год», - сообщает департамент.</p>
          <p class="gsap-reveal" data-gsap-delay="200">Ранее сообщалось, что в прошлом году казахстанцев за счет средств бюджета направляли на лечение в Турцию,
            Россию, Германию.</p>
        </div>
        <div class="news-id-page__hashtags gsap-reveal" data-gsap-delay="200">
          <span>#Здравоохранение</span>
          <span>#Общество</span>
        </div>
      </div>
    </div>
    <div class="title-1 news-id-page__title news-id-page__title--big gsap-reveal" data-gsap-delay="200">Другие новости</div>
    <div class="news-recomendations">
      <div class="news-recomendations__list">
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="400">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="./news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="500">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="./news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="600">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="./news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
        <div class="news-recomendations__item gsap-reveal" data-gsap-delay="700">
          <div class="news-recomendations__img">
            <img src="@images/news/news-img-1.png" alt="">
          </div>
          <div class="news-recomendations__date">26 июля</div>
          <div class="news-recomendations__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</div>
          <a href="./news-id" class="news-recomendations__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
    </div>
</section>
{% endblock %}