@use '@styles/main.scss';
@use '@styles/abstracts/_variables.scss' as var;
@use '@styles/base/mixins' as mixin;

.news-id-page {
  padding-top: 7rem;
  padding-bottom: 14.7rem;

  @include mixin.wide-laptop { padding-top: 6.2rem; padding-bottom: 11rem; }
  @include mixin.laptop { padding-top: 5.4rem; padding-bottom: 9.5rem; }
  @include mixin.small-laptop { padding-top: 4.6rem; padding-bottom: 8rem; }
  @include mixin.wide-tablet { padding-top: 3.8rem; padding-bottom: 6.5rem; }
  @include mixin.tablet { padding-top: 3rem; padding-bottom: 5rem; }

  &__title {
    font-weight: 800;
    color: var.$color2;
    line-height: 1.2;
    text-transform: uppercase;

    &--big {
      margin-bottom: 7rem;

      @include mixin.wide-laptop { margin-bottom: 6rem; }
      @include mixin.laptop { margin-bottom: 5rem; }
      @include mixin.small-laptop { margin-bottom: 4rem; }
      @include mixin.tablet { margin-bottom: 3rem; }
    }
  }

  &__date {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 400;
    color: var.$color4;

    @include mixin.laptop { margin-bottom: 2.5rem; }
    @include mixin.small-laptop { margin-bottom: 2rem; }
    @include mixin.tablet { margin-bottom: 1rem; }
  }

  &__banner {
    width: 100%;
    max-height: 54.3rem;
    margin-bottom: 4.4rem;
    overflow: hidden;

    @include mixin.laptop { margin-bottom: 3rem; }
    @include mixin.small-laptop { margin-bottom: 2rem; }
    @include mixin.tablet { margin-bottom: 1rem; }

    img {
      width: 100%;
      height: 54.3rem;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 10rem;

    @include mixin.laptop { margin-bottom: 8rem; }
    @include mixin.small-laptop { margin-bottom: 6rem; }
    @include mixin.tablet { flex-wrap: wrap; margin-bottom: 4rem; }
  }

  &__text {
    margin-bottom: 5.1rem;

    @include mixin.laptop { margin-bottom: 3.4rem; }
    @include mixin.small-laptop { margin-bottom: 2.7rem; }
    @include mixin.tablet { margin-bottom: 1.5rem; }

    p {
      margin-bottom: 2.5rem;

      @include mixin.laptop { margin-bottom: 1.9rem; }
      @include mixin.small-laptop { margin-bottom: 1.3rem; }
      @include mixin.tablet { margin-bottom: 0.8rem; }
    }

    .img-short {
      width: 100%;
      margin-bottom: 1rem;
    }
    .img-short-1 {
      display: block;
      width: 100%;
      max-width: 450px;
      float: right;
    }
    .img-short-2 {
      max-width: 350px;
      float: left;
      margin-right: 2rem;
    }
    .img-short-3 {
      max-width: 400px;
      float: right;
      margin-left: 2rem;
    }
    .img-short-4 {
      max-width: 450px;
      float: left;
      margin-right: 2rem;
    }
  }

  &__hashtags {
    font-size: 2rem;
    color: var.$color4;
    display: flex;
    gap: 2.5rem;

    @include mixin.laptop { font-size: 1.8rem; }
    @include mixin.small-laptop { font-size: 1.6rem; }
    @include mixin.tablet { font-size: 1.4rem; }
  }

  .share-block {
    padding: 3.8rem 3.6rem;
    background: var.$color20;
    border-radius: 1rem;
    text-align: center;
    flex-basis: 21.8rem;
    flex-shrink: 0;

    @include mixin.laptop { padding: 2.8rem 2.6rem; }
    @include mixin.small-laptop { padding: 1.8rem 1.6rem; }
    @include mixin.tablet { display: flex; padding: 0; background: transparent; }

    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      color: var.$color4;
      margin-bottom: 3.3rem;

      @include mixin.laptop { margin-bottom: 2.5rem; }
      @include mixin.small-laptop { margin-bottom: 1.5rem; }
      @include mixin.tablet { margin-bottom: 0; margin-right: 2rem; }
    }

    &__links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;

      a, img {
        display: block;
      }
    }
  }
}

.news-recomendations {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2.7rem;

    @include mixin.laptop { gap: 2.3rem; }
    @include mixin.small-laptop { gap: 1.9rem; }
    @include mixin.tablet { gap: 1.5rem; }
  }

  &__item {
    max-width: 23%;

    @include mixin.small-tablet { max-width: 45%; }
    @include mixin.phone { max-width: 100%; }
  }

  &__img {
    width: 100%;
    max-height: 19.9rem;
    margin-bottom: 2.2rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }

  &__date {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 400;
    color: var.$color4;
    
    @include mixin.small-tablet { margin-bottom: 1.3rem; }
    @include mixin.phone { margin-bottom: 1rem; }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var.$color2;
    margin-bottom: 2rem;
    transition: 0.3s linear;

    @include mixin.small-tablet { font-size: 2.1rem; }
    @include mixin.phone { font-size: 1.8rem; }

    &:hover {
      color: var.$color3;
    }
  }
}
