{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Новости" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/news/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/news/index.js"></script>
{% endblock %}

{% block content %}
<section class="news-page">
  <div class="container">
    <div class="title-1 news-page__title gsap-reveal">Новости</div>
    <div class="news-list">
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/new-october-1.jpeg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">4 октября</div>
          <a href="/news-10-04"  class="news__title">РОЗОВЫЙ ОКТЯБРЬ – МЕЖДУНАРОДНЫЙ МЕСЯЦ БОРЬБЫ ПРОТИВ РАКА ГРУДИ</a>
          <div class="news__text">В октябре начинается Всемирный месяц борьбы против рака груди, который был объявлен Всемирной организацией здравоохранения (ВОЗ) в 1993 году. Ежегодно 15 октября в 44 странах мира проводится Всемирный День борьбы с раком молочной железы...</div>
          <a href="/news-10-04" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/home/news1.jpg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">20 сентября</div>
          <a href="/news-id"  class="news__title">KAMT на «OTDYH LEISURE 2023»</a>
          <div class="news__text">29-й Международный форум – выставка «ОТДЫХ Leisure» 2023 завершил свою работу в Москве – в этом году выставка прошла с большим успехом, объединив на одной площадке более 9 500 профессионалов отрасли. ...</div>
          <a href="/news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/news-07-04-1.jpg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">7 июля</div>
          <a href="/news-07-04-1"  class="news__title">Медицинский туризм развивают в Казахстане</a>
          <div class="news__text">В Казахстане развивается медицинский туризм. С начала года лечиться в республику приехали три тысячи человек. Это вдвое больше, чем годом ранее. Какие направления интересны иностранным пациентам, рассказал корреспондент «МИР 24» Алена Грачева. ...</div>
          <a href="/news-07-04-1" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/news-07-04-2.webp" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">4 июля</div>
          <a href="/news-07-04-2"  class="news__title">Названы популярные направления медицинского туризма в Астане</a>
          <div class="news__text">С какими проблемами со здоровьем иностранцы чаще всего обращаются к cтоличным врачам? На этот вопрос в рамках форума мэров городов-побратимов “25-летие Астаны: Астана – город будущего” ответила президент Казахстанской ассоциации медицинского туризма Кристина Кривец...</div>
          <a href="/news-07-04-2" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/news-07-04-3.jpeg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">4 июля</div>
          <a href="/news-07-04-3"  class="news__title">В Астану прибывают лечиться из Швейцарии, США и Австралии</a>
          <div class="news__text">Президент Ассоциации медицинского туризма Кристина Кривец 4 июля на панельной сессии Форума мэров городов-побратимов отметила, что в Астане создан кластер медицинского туризма в ...</div>
          <a href="/news-07-04-3" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/news-07-04-4.jpg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">5 июля</div>
          <a href="/news-07-04-4"  class="news__title">Президент принял участие в форуме городов-побратимов Астаны</a>
          <div class="news__text">Глава государства Касым-Жомарт Токаев принял участие в торжественной церемонии открытия форума городов – побратимов столицы «25-летие Астаны. Новые перспективы. Новые возможности». <br> В своем выступлении Президент выразил признательность мэрам городов-побратимов и гостям из разных стран, прибывшим в столицу Казахстана. Он подчеркнул, что в этом году Астана отмечает значимую дату – 25-летний юбилей ...</div>
          <a href="/news-07-04-4" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/news-07-04-5.jpg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">13 июля</div>
          <a href="/news-07-04-5"  class="news__title">Медицинский туризм в Казахстане набирает обороты</a>
          <div class="news__text">В Казахстане активно развивается медицинский туризм. С начала года лечиться в республику приехали три тысячи человек. Это вдвое больше, чем годом ранее. Чтобы сделать операцию в Казахстане, иностранцы покупают специальные медпутевки. В них входят выбор ...</div>
          <a href="/news-07-04-5" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}