{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Sanatory" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/news/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/news/index.js"></script>
{% endblock %}

{% block content %}
<section class="news-page">
  <div class="container">
    <div class="title-1 news-page__title gsap-reveal">Новости</div>
    <div class="news-list">
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/news/news-img-1.png" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">26 июля</div>
          <a href="./news-id"  class="news__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</a>
          <div class="news__text">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали
            популярные среди иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</div>
          <a href="./news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal" data-gsap-delay="200">
        <div class="news__img">
          <img src="@images/news/news-img-1.png" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">26 июля</div>
          <a href="./news-id"  class="news__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</a>
          <div class="news__text">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали
            популярные среди иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</div>
          <a href="./news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal">
        <div class="news__img">
          <img src="@images/news/news-img-1.png" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">26 июля</div>
          <a href="./news-id"  class="news__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</a>
          <div class="news__text">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали
            популярные среди иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</div>
          <a href="./news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal">
        <div class="news__img">
          <img src="@images/news/news-img-1.png" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">26 июля</div>
          <a href="./news-id"  class="news__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</a>
          <div class="news__text">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали
            популярные среди иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</div>
          <a href="./news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal">
        <div class="news__img">
          <img src="@images/news/news-img-1.png" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">26 июля</div>
          <a href="./news-id"  class="news__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</a>
          <div class="news__text">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали
            популярные среди иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</div>
          <a href="./news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
      <div class="news gsap-reveal">
        <div class="news__img">
          <img src="@images/news/news-img-1.png" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">26 июля</div>
          <a href="./news-id"  class="news__title">Какие медуслуги наиболее популярны у иностранцев в Казахстане</a>
          <div class="news__text">В департаменте организации медицинской помощи Министерства здравоохранения РК назвали
            популярные среди иностранных пациентов медицинские услуги, передает корреспондент МИА «Казинформ».</div>
          <a href="./news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="pagination gsap-reveal">
      <a href="./news-id" class="pagination__button pagination__button--active">
        1
      </a>
      <a href="./news-id" class="pagination__button">
        2
      </a>
      <a href="./news-id" class="pagination__button">
        3
      </a>
    </div>
  </div>
</section>
{% endblock %}