{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Новости" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/news/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/news/index.js"></script>
{% endblock %}

{% block content %}
<section class="news-page">
  <div class="container">
    <div class="title-1 news-page__title gsap-reveal">Новости</div>
    <div class="news-list">
      <div class="news gsap-reveal" data-gsap-delay="100">
        <div class="news__img">
          <img src="@images/home/news1.jpg" alt="">
        </div>
        <div class="news__content">
          <div class="news__date">20 сентября</div>
          <a href="/news-id"  class="news__title">KAMT на «OTDYH LEISURE 2023»</a>
          <div class="news__text">29-й Международный форум – выставка «ОТДЫХ Leisure» 2023 завершил свою работу в Москве – в этом году выставка прошла с большим успехом, объединив на одной площадке более 9 500 профессионалов отрасли. ...</div>
          <a href="/news-id" class="news__more">
            <img src="@images/icons/arrow-blue-small.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}