{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Почему Астана?" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/whyus.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
{% endblock %}

{% block content %}
<section class="banner whyus__banner">
  <div class="container">
    <h1 class="banner-title gsap-reveal">Потенциал</h1>
    <h1 class="banner-subtitle gsap-reveal" data-gsap-delay="300">Астана - новое направление для вашего здоровья в Центральной Азии</h1>
  </div>
</section>
<section class="info">
  <div class="container">
    <div class="info__content">
      <div class="overlay info__header gsap-reveal">
        <div class="title-2 info__title gsap-reveal" data-gsap-delay="300">Миссия клиник города</div>
        <p class="info__subtitle gsap-reveal" data-gsap-delay="600">Оказание высокого уровня медицинской помощи с учетом синергии научно-исследовательской, образовательной и клинической деятельности.</p>
      </div>
      <div class="overlay info-body gsap-reveal">
        <div class="info-body__img gsap-reveal" data-gsap-delay="300"><img src="@images/whyus/whyus-img-1.png" alt="" /></div>
        <div class="info-body__content">
          <p class="info-body__text gsap-reveal" data-gsap-delay="500">Астана уделяет огромное значение развитию современной высококачественной медицины. В городе Астана функционируют современные медицинские центры и клиники, оснащенные инновационным оборудованием, в которых работают высококвалифицированные врачи.</p>
          <div class="info-body__stats">
            <div class="stat">
              <div class="stat__title gsap-reveal" data-gsap-delay="600">25-е место</div>
              <div class="stat__text gsap-reveal" data-gsap-delay="800">В мировом рейтинге Казахстан занимает по количеству аккредитованных в JСІ организаций</div>
            </div>
            <div class="stat">
              <div class="stat__title gsap-reveal" data-gsap-delay="700">
                <span>7 JСІ</span>
                <img src="@images/clinic/clinic-img-3.png" alt="" class="clinic-img-3" />
                <img src="@images/clinic/clinic-img-2.png" alt="" class="clinic-img-2">
              </div>
              <div class="stat__text gsap-reveal" data-gsap-delay="900">Организации находятся в Астане</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}