@use '@styles/main.scss';
@use '@styles/abstracts/_variables.scss' as var;
@use '@styles/base/mixins' as mixin;

.error-404-page {
  padding-top: 10rem;
  padding-bottom: 18.4rem;

  
  @include mixin.laptop { padding-top: 8rem; padding-bottom: 12rem; }
  @include mixin.tablet { padding-top: 6rem; padding-bottom: 10rem; }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;


    img {
      max-width: 60%;
    }

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
      color: var.$color4;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
