{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Grand Prix Burabay" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/sanatory.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@scripts/sanatories.js"></script>
{% endblock %}

{% block content %}
<section class="banner sanatory__banner">
  <div class="container">
    <div class="banner__img">
      <img src="@images/sanatory/grand_prix_burabay-banner.jpg" alt="">
    </div>
    <h1 class="banner-title gsap-reveal">Grand Prix Burabay</h1>
  </div>
</section>
<section class="sanatory-page">
  <div class="container">
    <div class="sanatory-page__content">
      <div class="overlay gsap-reveal float-text-block">
        <div class="img">
          <img class="gsap-reveal" src="@images/sanatory/grand-prix-burabay-1.png" alt="" data-gsap-delay="300">
        </div>
        <p class="title-2 row__title gsap-reveal" data-gsap-delay="500">Grand Prix Burabay – Совмещая приятный отдых и
          оздоровление!</p>
        <p class="gsap-reveal" data-gsap-delay="400">Более 15-ти видов аппаратного и ручного массажа, пилинги,
          скрабирование, обертывание, залы минеральных и грязевых ванн, душ Шарко и ванна Каралла, физио-, гидро- и
          озонотерапия, тюбаж печени и лаваш кишечника, кишечное орошение, прессотерапия, грязевые аппликации, парения,
          ритуалы в банях и многое другое</p>
        <br><br>
        <p class="gsap-reveal" data-gsap-delay="400">MED – DETOX - это комплексное очищение организма, направленное на
          ПРОФИЛАКТИКУ ЗАБОЛЕВАНИЙ и ВОССТАНОВЛЕНИЕ ФУНКЦИЙ организма, с помощью физиологических способов.</p>
      </div>
      <div class="overlay row row--reverse gsap-reveal">
        <img class="gsap-reveal" src="@images/sanatory/grand-prix-burabay-2.jpg" alt="" data-gsap-delay="300">

        <div class="row__content row__content--row">
          <p class="gsap-reveal" data-gsap-delay="700">МЕД-DETOX СПОСОБСТВУЕТ: профилактике вирусных заболеваний,
            омоложению всего организма, улучшению настроения и общего самочувствия, повышению работоспособности и
            стрессоустойчивости, нормализации обмена веществ и пищеварения, коррекции веса, общему оздоровлению организма.
          </p>
        </div>
      </div>
      <div class="overlay row row--reverse gsap-reveal">
        <div class="row__content row__content--row">
          <div style="max-width: 80rem;">
            <p class="gsap-reveal" data-gsap-delay="700">Прохождение программы MED-DETOX особенно необходимо для
              ВОССТАНОВЛЕНИЯ НА КЛЕТОЧНОМ УРОВНЕ.</p>
            <br><br>
            <p class="title-4 row__title gsap-reveal" data-gsap-delay="500">ЛОК «Grand Prix Burabay» изменит Ваше
              представление о санаторном лечении Казахстана.</p>
          </div>
          <div class="overlay sanatory-page__address">
            <div class="sanatory-page__address-item gsap-reveal" data-gsap-delay="550">
              <div><img src="@images/icons/pin.svg" alt=""></div>
              <div>44 Kenesary, Боровое, Казахстан</div>
            </div>
            <div class="sanatory-page__address-item gsap-reveal" data-gsap-delay="700">
              <div><img src="@images/icons/phone.svg" alt=""></div>
              <div>+7 777 222 69 79</div>
            </div>
            <div class="sanatory-page__address-item gsap-reveal" data-gsap-delay="850">
              <div><img src="@images/icons/e-mail.svg" alt=""></div>
              <div><a href="mailto:marketing@grandprixclub.kz">marketing@grandprixclub.kz</a></div>
            </div>
            <div class="sanatory-page__address-item gsap-reveal" data-gsap-delay="1000">
              <div><img src="@images/icons/globe.svg" alt=""></div>
              <div><a href="https://grandprixclub.kz/burabay">grandprixclub.kz/burabay</a></div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
      <div class="sanatory-slide">
        <div class="title-2 sanatory-slide__title gsap-reveal">Достопримечательности</div>
        <div class="sanatory-slide__body sanatory-swiper gsap-reveal">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-1.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-2.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-3.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-4.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-5.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-6.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/gpb-7.jpg" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="sanatory-slide__swiper-control">
          <div class="sanatory-slide__swiper-button-prev">
            <svg viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M55.3147 69.2683L78.583 46L55.3147 22.7316M13.4163 46L77.9313 46" stroke="#0C97CD"
                stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="sanatory-slide__swiper-button-next">
            <svg viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M55.3147 69.2683L78.583 46L55.3147 22.7316M13.4163 46L77.9313 46" stroke="#0C97CD"
                stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="sanatory-slide__pagination">
          <div class="sanatory-slide__counter">
            <span class="sanatory-slide__current-slide">1</span>/<span class="sanatory-slide__count">12</span>
          </div>
          <div class="sanatory-slide__border"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}