{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Санатории" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/sanatories.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
{% endblock %}

{% block content %}
<section class="sanatories-page">
  <div class="container">
    <h1 class="title-1 sanatories-page__title gsap-reveal">Санатории</h1>
    <div class="sanatories-page__content">
      <a href="/sanatories/sanatory" class="sanatories gsap-reveal" data-gsap-delay="100">
        <img class="sanatories__image" src="@images/sanatory/sanatory-img-2.png" alt="">
        <div class="sanatories__title">Боровое</div>
      </a>
      <a href="/sanatories/okjetpes" class="sanatories gsap-reveal" data-gsap-delay="100">
        <img class="sanatories__image" src="@images/sanatory/okjetpes-banner.jpg" alt="">
        <div class="sanatories__title">Окжетпес</div>
      </a>
      <a href="/sanatories/grand_prix_burabay" class="sanatories gsap-reveal" data-gsap-delay="100">
        <img class="sanatories__image" src="@images/sanatory/grand_prix_burabay-banner.jpg" alt="">
        <div class="sanatories__title">Grand Prix Burabay</div>
      </a>
      <a href="/sanatories/sanatory-table" class="sanatories gsap-reveal" data-gsap-delay="100">
        <img class="sanatories__image" src="@images/sanatory/sanatory-table.jpg" alt="">
        <div class="sanatories__title">Оздоровление в курортной зоне</div>
      </a>
    </div>
    <!-- <button class="btn sanatories-page__btn gsap-reveal" data-gsap-delay="100">Показать еще...</button> -->
  </div>
</section>
{% endblock %}