{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="«Окжетпес»" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/sanatory.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
{% endblock %}

{% block content %}
<section class="banner sanatory__banner">
  <div class="container">
    <div class="banner__img">
      <img src="@images/sanatory/okjetpes-banner.jpg" alt="">
    </div>
    <h1 class="banner-title gsap-reveal">Окжетпес</h1>
  </div>
</section>
<section class="sanatory-page">
  <div class="container">
    <div class="sanatory-page__content">
      <div class="overlay gsap-reveal float-text-block">
        <br><br>
        <p class="title-4 row__title gsap-reveal" data-gsap-delay="500">Лечебно-оздоровительный комплекс «Окжетпес»
          Медицинского центра Управления Делами Президента Республики Казахстан.</p>
        <p class="title-4 row__title gsap-reveal" data-gsap-delay="600">Наш лечебно-оздоровительный комплекс существует
          более 55 лет.</p>
      </div>
      <div class="overlay row row--reverse gsap-reveal">
        <div class="row__content">
          <div>
            <p class="gsap-reveal" data-gsap-delay="700">Главным преимуществом для ЛОК «Окжетпес», является расположение
              его в самом сердце жемчужины Казахстана – Бурабай, на берегу красивей­шего из озер Щучинско-Бурабайской
              курортной зоны. Побли­зости находятся уникальные природные достопримечатель­ности, визитные карточки
              Бурабая
              – сказочные скалы Ок­жетпес и Жумбактас. В трех минутах прогулки по густому сосно­вому бору расположена
              легендарная поляна Абылай-хана.</p>
            <div class="okjetpes-list">
              <img class="okjetpes-1" src="@images/sanatory/okjetpes-1.png" alt="">
              <img class="okjetpes-2" src="@images/sanatory/okjetpes-2.png" alt="">
              <img class="okjetpes-3" src="@images/sanatory/okjetpes-3.png" alt="">
            </div>
            <p class="gsap-reveal" data-gsap-delay="700">ЛОК «Окжетпес» является климатобальнеологическим комплексом
              круглогодичного действия. Уникальные природные факторы: экологически чистый воздух соснового бора,
              лечебные
              грязи озера Балпаш-сор и минеральная вода «Май Балык», пантолечение, радонотерапия, кумысолечение,
              минеральная вода «Кулагер — Арасан» дополняемые современной лечебно-диагностической базой позволяют
              исцелять
              и реабилитировать широкий спектр заболеваний сердечно-сосудистой системы, органов дыхания,
              опорно-двигательного аппарата, пищеварения, кровообращения, эндокринной и нервной системы, урологических и
              гинекологических заболеваний.</p>
          </div>
        </div>
      </div>
      <div class="overlay row row--reverse gsap-reveal">
        <div class="row__content">
          <div>
            <p class="gsap-reveal" data-gsap-delay="700">В ЛОК внедрена и успешно функционирует система менеджмента
              качества в соответствии с международными стандартами ISO 9001:2015, сертификация проведена немецкой
              компанией ТЮФ СЕРТ.</p>
          </div>
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
</section>
{% endblock %}