{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Визовый режим" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/placement/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/placement/index.js"></script>
{% endblock %}

{% block content %}

<section class="placement">
  <div class="container">
    <h1 class="title-1 placement__title gsap-reveal">
      <img src="@images/icons/plane-2.svg" alt="">
      <span>АВИАДОСТУПНОСТЬ</span>
    </h1>
    <div class="overlay placement__content gsap-reveal" data-gsap-delay="300">
      <div class="place-list">
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-1.png" alt="">
          <span class="place-list__title">Абу-Даби</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-2.png" alt="">
          <span class="place-list__title">Анкара</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-3.png" alt="">
          <span class="place-list__title">Анталья</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-4.png" alt="">
          <span class="place-list__title">Баку</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-5.png" alt="">
          <span class="place-list__title">Батуми</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-6.png" alt="">
          <span class="place-list__title">Бишкек</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-7.png" alt="">
          <span class="place-list__title">Бодрум</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-8.png" alt="">
          <span class="place-list__title">Варшава</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-9.png" alt="">
          <span class="place-list__title">Гуанчжоу</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-10.png" alt="">
          <span class="place-list__title">Доха</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-11.png" alt="">
          <span class="place-list__title">Екатеринбург</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-12.png" alt="">
          <span class="place-list__title">Казань</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-13.png" alt="">
          <span class="place-list__title">Камрань</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-14.png" alt="">
          <span class="place-list__title">Красноярск</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-15.png" alt="">
          <span class="place-list__title">Кутаиси</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-16.png" alt="">
          <span class="place-list__title">Минск</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-17.png" alt="">
          <span class="place-list__title">Москва</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-18.png" alt="">
          <span class="place-list__title">Новосибирск</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-19.png" alt="">
          <span class="place-list__title">Омск</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-20.png" alt="">
          <span class="place-list__title">Пекин</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-21.png" alt="">
          <span class="place-list__title">Подгорица</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-22.png" alt="">
          <span class="place-list__title">Санкт-Петербург</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-23.png" alt="">
          <span class="place-list__title">Стамбул</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-24.png" alt="">
          <span class="place-list__title">Ташкент</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-25.png" alt="">
          <span class="place-list__title">Тбилиси</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-26.png" alt="">
          <span class="place-list__title">Урумчи</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-27.png" alt="">
          <span class="place-list__title">Уфа</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-28.png" alt="">
          <span class="place-list__title">Франкфурт</span>
        </div>
        <div class="place-list__item">
          <img class="place-list__img" src="@images/avia-place/avia-place-29.png" alt="">
          <span class="place-list__title">Шарм-Эль-Шейх</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}