{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Национальный научный кардиохирургический центр" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/clinic/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/clinic/index.js"></script>
{% endblock %}

{% block content %}
<section class="banner clinic__banner">
  <div class="container">
    <h1 class="banner-title gsap-reveal">Национальный научный кардиохирургический центр</h1>
  </div>
</section>
<section class="clinic-page">
  <div class="container">
    <div class="clinic-page__content">
      <div class="overlay about-clinic gsap-reveal">
        <div class="title-2 about-clinic__title gsap-reveal">О клинике</div>
        <div class="row about-clinic__body">
          <div class="about-clinic__content">
            <p class="gsap-reveal" data-gsap-delay="300">Национальный научный кардиохирургический центр — одна из лидирующих клиник в Средней Азии, оказывающая полный спектр
              кардиохирургических услуг, начиная с диагностики и заканчивая реабилитацией пациентов с применением самых
              современных методов лечения.</p>
            <p class="gsap-reveal" data-gsap-delay="500">Материально-техническая база Центра не имеет аналогов в Средней Азии и соответствует самым высоким
              международным стандартам, позволяющим проведение точной диагностики с подбором наиболее подходящего в
              каждом конкретном случае метода лечения.</p>
            <div class="about-clinic__images">
              <a href="/" class="gsap-reveal" data-gsap-delay="700"><img src="@images/clinic/clinic-img-1.png" alt=""></a>
              <a href="/" class="gsap-reveal" data-gsap-delay="800"><img src="@images/clinic/clinic-img-2.png" alt=""></a>
              <a href="/" class="gsap-reveal" data-gsap-delay="900"><img src="@images/clinic/clinic-img-3.png" alt=""></a>
            </div>
          </div>
          <div class="overlay about-clinic__address">
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="550">
              <div><img src="@images/icons/pin.svg" alt=""></div>
              <div>010000, Республика Казахстан, г. Астана, пр.Туран 38</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="700">
              <div><img src="@images/icons/phone.svg" alt=""></div>
              <div>+7 775 007 33 80</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="850">
              <div><img src="@images/icons/e-mail.svg" alt=""></div>
              <div>info.heartcenter@gmail.com</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="1000">
              <div><img src="@images/icons/globe.svg" alt=""></div>
              <div>heartcenter.kz</div>
            </div>
          </div>
        </div>
      </div>

      <div class="clinic-statistics">
        <div class="clinic-statistics__col">
          <div class="overlay clinic-statistics__item gsap-reveal">
            <div class="clinic-statistics__text">Работает с <br> Since</div>
            <div class="clinic-statistics__num c1">2011</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Операций на открытом <br> сердце в год</div>
            <div class="clinic-statistics__num c2">2300</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Трансплантации <br> сердца</div>
            <div class="clinic-statistics__num c3">86</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">амбулаторных <br> пациентов в год</div>
            <div class="clinic-statistics__num c4">65000</div>
          </div>
        </div>
        <div class="clinic-statistics__col">
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Медицинских <br> работников</div>
            <div class="clinic-statistics__num c5">895</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Операций детям при <br> врожденных пороках <br> сердца</div>
            <div class="clinic-statistics__num c6">800</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--col clinic-statistics__item--big gsap-reveal">
            <div class="clinic-statistics__text">Интервенционных вмешательств <br> и исследований в год</div>
            <div class="clinic-statistics__num c7">12000</div>
          </div>
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--1 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">Основные клинические направления Центра:</div>
          <ul class="clinic-block__list">
            <li class="clinic-block__item">Лечение врожденных и приобретенных пороков сердца</li>
            <li class="clinic-block__item">Лечение ишемической болезни сердца</li>
            <li class="clinic-block__item">Лечение сердечной недостаточности</li>
            <li class="clinic-block__item">Лечение нарушений ритма сердца</li>
            <li class="clinic-block__item">Лучевая Диагностика (УЗИ, Рентген, Эхокардиография, МРТ, МСКТ)</li>
            <li class="clinic-block__item">Лабораторная диагностика</li>
            <li class="clinic-block__item">Телемедицина</li>
          </ul>
        </div>
        <div class="clinic-block__img">
          <img src="@images/clinic/clinic-image-1.png" alt="">
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--2 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">С 2011 года Центром проведены:</div>
          <ul class="clinic-block__list">
            <li class="clinic-block__item">367 имплантаций LVAD устройств;</li>
            <li class="clinic-block__item">86 трансплантаций сердца и 15 трансплантаций легких;</li>
            <li class="clinic-block__item">448 операций с использованием ЭКМО</li>
            <li class="clinic-block__item">145 обучающих циклов и 120 мастерклассов</li>
            <li class="clinic-block__item">17 международных конгрессов, конференций и симпозиумов</li>
            <li class="clinic-block__item">16 клинических исследований и 9 научных проектов и внедрены 37 передовых
              технологий</li>
          </ul>
        </div>
        <div class="clinic-block__img">
          <img src="@images/clinic/clinic-image-2.png" alt="">
        </div>
      </div>

      <div class="clinic-block clinic-block--3 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title"><a href="/check-up">Check-up</a> Диагностика:</div>
          <ul class="clinic-block__list">
            <li class="clinic-block__item">Пакет «Здоровый Малыш» рекомендован для детей от 0 до 18 лет</li>
            <li class="clinic-block__item">Пакет «Забота о близких» рекомендован пациентам с повышенным артериальным давлением для расширенного обследования</li>
            <li class="clinic-block__item">Пакет «Забота о сердце» рекомендован пациентам с повышенным артериальным давлением для обследования сердца</li>
            <li class="clinic-block__item">Пакет «Будь в форме» рекомендован любителям спорта</li>
            <li class="clinic-block__item">Пакет «Спортсмен» рекомендован пациентам, которые занимаются профессиональным спортом</li>
            <li class="clinic-block__item">«Коронарография Full» для диагностики сосудов</li>
            <li class="clinic-block__item">«Пост-COVID» для оценки состояния после перенесенного COVID</li>
          </ul>
        </div>
        <div class="clinic-block__img">
          <img src="@images/clinic/clinic-image-3.png" alt="">
        </div>
      </div>

      <iframe style="width: 100%; max-width: 750px; aspect-ratio: 4/3; margin: 0 auto 5rem;" src="https://www.youtube.com/embed/eope14BE9MA?si=U4X8KWvOLeR0oTqP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <div class="modal">
    <div class="modal__overlay">
      <div class="overlay modal__content doctor-info">
        <button class="btn modal__close">
          <img src="@images/icons/close-modal.svg" alt="">
        </button>
        <div class="doctor-info__header">
          <div class="doctor-info__img">
            <img src="@images/clinic/doctor-1.png" alt="">
          </div>
          <div class="doctor-info__data">
            <div class="doctor-info__name">Дарибаев Жолтай Рахимбекович</div>
            <div class="doctor-info__text">Невролог высшей категории к.м.н., доцент, PhD, MBA</div>
            <div class="doctor-info__exps">
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">34 года</div>
                <div class="doctor-info__exp-text">опыт работы</div>
              </div>
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">2</div>
                <div class="doctor-info__exp-text">патента</div>
              </div>
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">1</div>
                <div class="doctor-info__exp-text">внедренная технология</div>
              </div>
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">170</div>
                <div class="doctor-info__exp-text">научных публикаций</div>
              </div>
            </div>
          </div>
        </div>
        <div class="doctor-info__body">
          <p>Непрерывно повышает свою квалификацию, проходил обучение в России, США, Германии, Австрии. Швейцарии,
            Франции, Чехии, Китае. Занимается диагностикой, лечением и реабилитацией при:</p>
          <ul>
            <li>сосудистых заболеваниях головного и спинного мозга;</li>
            <li>заболеваниях позвоночника (остеохондрозы, патология дисков) и периферической нервной системы;</li>
            <li>демиелинизирующих заболеваниях нервной системы;</li>
            <li>судорожных и пароксизмальных состояниях в неврологии;</li>
            <li>головных болях и головокружениях;</li>
            <li>болях в спине;</li>
            <li>нарушениях памяти;</li>
            <li>при поражений нервной системы и опорно-двигательного аппарата и когнитивных функций.</li>
          </ul>
          <p>Внедрил в Казахстане технологию ранней диагностики сосудистых нарушений мозгового кровообращения.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}