{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Санатории" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/sanatory/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/sanatory/index.js"></script>
{% endblock %}

{% block content %}
<section class="banner sanatory__banner">
  <div class="container">
    <h1 class="banner-title gsap-reveal">Боровое</h1>
  </div>
</section>
<section class="sanatory-page">
  <div class="container">
    <div class="sanatory-page__content">
      <div class="overlay gsap-reveal float-text-block">
        <div class="img">
          <img class="gsap-reveal" src="@images/sanatory/sanatory-img-1.png" alt="" data-gsap-delay="300">
        </div><p class="title-2 row__title gsap-reveal" data-gsap-delay="500">Боровое</p>
        <p class="gsap-reveal" data-gsap-delay="700">Легенда гласит, что в давние времена в этих местах жил большой белый верблюд Бура. Священное животное отличалось силой и красотой. Его родиной были леса горы Кокшетау, но каждый полдень он спускался к Серебряному озеру, чтобы попить воды. Местные жители относились к верблюду с почтением, ведь он оберегал их жизни. Бура чувствовал приближение чужаков и оповещал об этом людей громким криком. Поэтому много лет жители края жили в свободе и мире. <br><br>
          В честь благородного верблюда эти места стали называть Бурабай. Серебряное озеро с чистейшей водой получило название Боровое. По легенде застывший верблюд так и остался навсегда в родных местах, превратившись в гору, высота которой составляет почти 600 м. Местные жители видят в ней очертания окаменевшего животного, из горба которого торчит смертоносная стрела. <br><br>
          Природа этого замечательного курортного места своими благами и неповторимой красотой гостеприимно приглашает гостей-туристов к себе, в этот вечно молодой и прекрасный край . Она зовёт нас побродить по лесным тропинкам, подняться в горы и искупаться в водах боровских озёр, напиться целебного кумыса и родниковой воды из горного ручья, пробежаться поутру под лучами восходящего солнца, или прокатиться с ветерком по лесным дорожкам.</p>
      </div>
      <div class="overlay row row--reverse gsap-reveal">
        <img class="gsap-reveal" src="@images/sanatory/sanatory-img-2.png" alt="" data-gsap-delay="300">

        <div class="row__content">
          <div>
            <div class="title-2 row__title gsap-reveal" data-gsap-delay="500">Где находится Боровое?</div>
            <p class="gsap-reveal" data-gsap-delay="700">Курортный поселок Боровое (до 2005 года – Бурабай) расположен в
              Акмолинской области Казахстана. Свое имя
              он
              получил в честь одноименного озера, вокруг которого сосредоточены многочисленные санатории, отели,
              коттеджи
              и
              домики. <br><br> 257 км севернее Астаны - столицы Казахстана (большая страна в средней Азии). <br><br>
              Озеро,
              благодаря которому и возник этот курорт, является частью национального природного парка «Бурабай». Рядом с
              ним
              можно найти больше десятка озер – Катарколь, Щучье, Малое и Большое Чебачье и др. Есть здесь и несколько
              гор.
              Самой известной из них считается Кокшетау (Синюха), высота которой составляет 947 метров.</p>
          </div>
        </div>
      </div>
      <div class="overlay row gsap-reveal">
        <img class="gsap-reveal" src="@images/sanatory/sanatory-img-3.png" alt="" data-gsap-delay="300">

        <div class="row__content">
          <div>
            <div class="title-2 row__title gsap-reveal" data-gsap-delay="500">Санатории Борового</div>
            <p class="gsap-reveal" data-gsap-delay="700">Отличный вариант для тех, кто хочет оздоровиться. <br><br>
              Самыми популярными являются «Зеленый бор»,
              «Окжетпес», «Grand Prix», Лечебно-оздоровительный комплекс Terrassa park, «Береке», «Щучинский», Санаторий
              Алмаз, детский оздоровительный центр «Континент».</p>
          </div>
        </div>
      </div>
      <div class="sanatory-way overlay">
        <div class="title-2 sanatory-way__title gsap-reveal">Как добраться до Борового?</div>
        <div class="sanatory-way__body">
          <div class="sanatory-option">
            <div class="sanatory-option__icon gsap-reveal" data-gsap-delay="200">
              <img src="@images/icons/train.svg" alt="">
            </div>
            <div class="sanatory-option__title gsap-reveal" data-gsap-delay="450">На ж/д <br> транспорте</div>
          </div>
          <div class="sanatory-option">
            <div class="sanatory-option__icon gsap-reveal" data-gsap-delay="400">
              <img src="@images/icons/bus.svg" alt="">
            </div>
            <div class="sanatory-option__title gsap-reveal" data-gsap-delay="550">На автобусе или частном такси</div>
          </div>
          <div class="sanatory-option">
            <div class="sanatory-option__icon gsap-reveal" data-gsap-delay="800">
              <img src="@images/icons/taxi.svg" alt="">
            </div>
            <div class="sanatory-option__title gsap-reveal" data-gsap-delay="750">На автомобиле</div>
          </div>
        </div>
      </div>
      <div class="sanatory-slide">
        <div class="title-2 sanatory-slide__title gsap-reveal">Достопримечательности</div>
        <p class="sanatory-slide__text gsap-reveal">
          Курорт Боровое привлекает не только любителей пляжного отдыха, но и настоящих ценителей уникальных природных
          достопримечательностей. В окрестностях озера расположено немало интересных объектов, история которых овеяна
          мифами и легендами. Вот лишь несколько из них
        </p>
        <div class="sanatory-slide__body sanatory-swiper gsap-reveal">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/sanatory-slide-1.jpg" alt="">
                <p class="sanatory-slide__label">Поляна Абылай-хана – находится на въезде в курорт, представляет собой
                  небольшое поле с особой энергетикой и лечебным микроклиматом.</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/sanatory-slide-2.png" alt="">
                <p class="sanatory-slide__label">Поляна Абылай-хана – находится на въезде в курорт, представляет собой
                  небольшое поле с особой энергетикой и лечебным микроклиматом.</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/sanatory-slide-3.jpg" alt="">
                <p class="sanatory-slide__label">Поляна Абылай-хана – находится на въезде в курорт, представляет собой
                  небольшое поле с особой энергетикой и лечебным микроклиматом.</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/sanatory-slide-4.jpg" alt="">
                <p class="sanatory-slide__label">Поляна Абылай-хана – находится на въезде в курорт, представляет собой
                  небольшое поле с особой энергетикой и лечебным микроклиматом.</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sanatory-slide__item">
                <img class="sanatory-slide__img" src="@images/sanatory/sanatory-slide-5.jpg" alt="">
                <p class="sanatory-slide__label">Поляна Абылай-хана – находится на въезде в курорт, представляет собой
                  небольшое поле с особой энергетикой и лечебным микроклиматом.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="sanatory-slide__swiper-control">
          <div class="sanatory-slide__swiper-button-prev">
            <svg viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M55.3147 69.2683L78.583 46L55.3147 22.7316M13.4163 46L77.9313 46" stroke="#0C97CD"
                stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="sanatory-slide__swiper-button-next">
            <svg viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M55.3147 69.2683L78.583 46L55.3147 22.7316M13.4163 46L77.9313 46" stroke="#0C97CD"
                stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="sanatory-slide__pagination">
          <div class="sanatory-slide__counter">
            <span class="sanatory-slide__current-slide">1</span>/<span class="sanatory-slide__count">12</span>
          </div>
          <div class="sanatory-slide__border"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}