{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Национальный научный кардиохирургический центр" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/nroc/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/nroc/index.js"></script>
{% endblock %}

{% block content %}
<section class="banner clinic__banner">
  <div class="container">
    <h1 class="banner-title gsap-reveal">Национальный научный онкологический центр</h1>
  </div>
</section>
<section class="clinic-page">
  <div class="container">
    <div class="clinic-page__content">
      <div class="overlay about-clinic gsap-reveal">
        <div class="title-2 about-clinic__title gsap-reveal">О клинике</div>
        <div class="row about-clinic__body">
          <div class="about-clinic__content">
            <p class="gsap-reveal" data-gsap-delay="300">Многопрофильный центр, оказывающий специализированную и
              высокоспециализированную медицинскую помощь: онкология, химиотерапия, маммология, онкологическая хирургия,
              гематология, трансплантология, ортопедия, ангиохирургия и др.</p>
            <p class="gsap-reveal" data-gsap-delay="500">Ежегодно лечение, охватывающее все виды онкологических
              заболеваний, в ННОЦ получают более 9 000 пациентов со всех регионов Казахстана и стран СНГ.</p>
          </div>
          <div class="overlay about-clinic__address">
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="550">
              <div><img src="@images/icons/pin.svg" alt=""></div>
              <div>Республика Казахстан,г.Астана, <br> ул. Керей и Жанибек ханов, з</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="700">
              <div><img src="@images/icons/phone.svg" alt=""></div>
              <div>+7 (7172) 70 29 11</div>
              <div>+7 708 425 07 11</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="1000">
              <div><img src="@images/icons/globe.svg" alt=""></div>
              <div>cancercenter.kz</div>
            </div>
          </div>
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--2 gsap-reveal">
        <div class="clinic-block__img nroc-img">
          <img src="@images/clinic/doctor-nroc-1.png" alt="">
        </div>
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">Шалекенов Санжар Булатович</div>
          <p class="gsap-reveal" data-gsap-delay="300">Председатель Правления Национального научного
            онкологического центра</p>
          <ul class="clinic-block__list gsap-reveal">
            <li class="clinic-block__item"><strong>21 год</strong> опыт работы</li>
            <li class="clinic-block__item"><strong>Доктор</strong> медицинских наук</li>
          </ul>
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--2 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">КАДРОВЫЙ ПОТЕНЦИАЛ ННОЦ</div>
          <p class="gsap-reveal" data-gsap-delay="300">В Центре работают:</p>
          <ul class="clinic-block__list gsap-reveal" data-gsap-delay="300">
            <li class="clinic-block__item">Всего – 186 врачей</li>
            <li class="clinic-block__item">4 доктора медицинских наук</li>
            <li class="clinic-block__item">14 - кандидата медицинских наук</li>
            <li class="clinic-block__item">3 - PhD</li>
            <li class="clinic-block__item">33-магистра</li>
          </ul>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-1-1.jpg" alt="">
            <img src="@images/clinic/nroc-1-2.jpg" alt="">
            <img src="@images/clinic/nroc-1-3.jpg" alt="">
            <img src="@images/clinic/nroc-1-4.jpg" alt="">
            <img src="@images/clinic/nroc-1-5.jpg" alt="">
            <img src="@images/clinic/nroc-1-6.jpg" alt="">
          </div>
          <p class="gsap-reveal" data-gsap-delay="300">Средних медработников: Всего - 318</p>
          <p class="gsap-reveal" data-gsap-delay="300">Из них: 44 – с высшим образованием</p>
          <p class="gsap-reveal" data-gsap-delay="300"> Весь ключевой клинический персонал Центра прошел стажировку в
            лучших медицинских центрах США, Японии, Южной Кореи, Германии, Бельгии, Италии, Швейцарии и странах ближнего
            зарубежья.</p>
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--3 gsap-reveal">
        <div class="title-2">Парк оборудования для центров ядерной медицины, лучевой и протонной терапии</div>
        <div class="nroc-devices">
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-1.png" alt="">
            <div>Циклотрон Cyclone Kiube 180</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-2.png" alt="">
            <div>ОФЭКТ/КТ</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-3.png" alt="">
            <div>ПЭТ/КТ</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-4.png" alt="">
            <div>ПЭТ/МРТ</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-5.png" alt="">
            <div>Система лучевой терапии TrueBeam</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-6.png" alt="">
            <div>Система лучевой терапии и радиохирургии Edge</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-7.png" alt="">
            <div>Система для адаптивной лучевой терапии Ethos</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-8.png" alt="">
            <div>Система контактной лучевой терапии Bravos</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-9.png" alt="">
            <div>Система протонной терапии ProBeam 360</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-10.png" alt="">
            <div>КТ-симулятор</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-11.png" alt="">
            <div>МРТ-симулятор</div>
          </div>
          <div class="nroc-imgs">
            <img src="@images/clinic/nroc-prib-12.png" alt="">
            <div>Система рентгеновская С-дуга</div>
          </div>
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--1 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">Впервые в Казахстане на базе ННОЦ были проведены:</div>
          <ul class="clinic-block__list">
            <li class="clinic-block__item">2010 г. - лапароскопическое изъятие почки от живого донора;</li>
            <li class="clinic-block__item">2011 г. - эндопротезирование суставов у больных гемофилией;</li>
            <li class="clinic-block__item">2011 г. - аллогенна и гаплоидная трансплантация костного мозга;</li>
            <li class="clinic-block__item">2012 r. - мультиорганное изъятие органов от кадавра;</li>
            <li class="clinic-block__item">2012 r. - трансплантация гемопоэтических стволовых клеток в сочетании с
              высокодозной химиотерапией больным с рассеянным склерозом;</li>
            <li class="clinic-block__item">2013 г. - ортотопическая трансплантация печени от кадавра;</li>
            <li class="clinic-block__item">2013 г. - трансплантация печени от живого донора пациенту детского возраста;
            </li>
            <li class="clinic-block__item">2013 г. - аллотрансплатация кожи;</li>
            <li class="clinic-block__item">2014 r. - аллогенная неродственная трансплантация костного мозга;</li>
            <li class="clinic-block__item">2014 г. - разработано биологическое покрытие для лечения ожогов и ран;</li>
            <li class="clinic-block__item">2015 r. - миниинвазивные и органосохраняющие операции при опухолях почек и
              мочевыводящих путей;</li>
            <li class="clinic-block__item">2016 г. - разработана и внедрена гипертермическая интраперитонеальная
              (внутрибрюшная) химиотерапия (HIPEC);</li>
            <li class="clinic-block__item">2017 г. - трансплантация печени АВО несовместимого донора;</li>
          </ul>
        </div>
      </div>

      <div class="overlay clinic-block gsap-reveal" style="margin-bottom: 60px;">
        <div class="clinic-block__content">
          <p class="gsap-reveal">ННОЦ единственный центр в Казахстане, который имеет разработанные технологии раневых
            покрытий (ксенотрансплантат), проводит воссоздание и реконструкцию мочеточника с сегментом тонкой кишки или
            аппендикса.</p>
        </div>
      </div>

      <div class="doctors">
        <div class="title-2 doctors__title gsap-reveal">Врачи</div>
        <div class="doctors__list">
          <div class="overlay doctor gsap-reveal" data-gsap-delay="300">
            <div class="doctor__img">
              <img src="@images/clinic/doctor-7.jpg" alt="">
            </div>
            <div class="doctor__title">Калиаскарова Кульпаш Сагындыковна</div>
            <div class="doctor__text" style="max-width: 500px;">Главный внештатный гестроэнтеролог/гепатолог МЗ РК</div>
            <button class="doctor__btn" data-id="1">Подробнее <img src="@images/icons/small-white-icon.svg"
                alt=""></button>
          </div>
          <div class="overlay doctor gsap-reveal" data-gsap-delay="500">
            <div class="doctor__img">
              <img src="@images/clinic/doctor-8.png" alt="">
            </div>
            <div class="doctor__title">Кемайкин Вадим Матвеевич</div>
            <div class="doctor__text">Кандидат медицинских наук, доцент</div>
            <button class="doctor__btn" data-id="2">Подробнее <img src="@images/icons/small-white-icon.svg"
                alt=""></button>
          </div>
        </div>
      </div>

      <div class="modal" data-id="1">
        <div class="modal__overlay">
          <div class="overlay modal__content doctor-info">
            <button class="btn modal__close" data-id="1">
              <img src="@images/icons/close-modal.svg" alt="">
            </button>
            <div class="doctor-info__header">
              <div class="doctor-info__img">
                <img src="@images/clinic/doctor-7.jpg" alt="">
              </div>
              <div class="doctor-info__data">
                <div class="doctor-info__name">Калиаскарова Кульпаш Сагындыковна</div>
                <div class="doctor-info__text">Главный внештатный гестроэнтеролог/гепатолог МЗ РК</div>
              </div>
            </div>
            <div class="doctor-info__body">
              <p>В 1983 году закончила Алма-Атинский Государственный медицинский институт.</p>
              <p>С 1988 по 1990 годы проходила клиническую ординатуру на кафедре внутренних болезней №2 Целиноградского
                Государственного медицинского института.</p>
              <p>2000 г. - награждена Агентством Республики Казахстан по делам Здравоохранения нагрудным значком «За
                особые заслуги в деле охраны здоровья населения Республики Казахстан».</p>
              <p>2001 г. - стажировка с освоением методики пункционной биопсии печени в отделении гепатологии Клиники
                нефрологии, внутренних и проф болезней им. Е.М. Тареева, г. Москва. Провела самостоятельно более 1200
                пункционных биопсий печени.</p>
              <p>2005 г. – ведущий научный сотрудник центра внутренней медицины РГП «Национальный научный медицинский
                центр».</p>
              <p>2010 г. - защита докторской диссертации на тему: «Факторы прогрессирования хронических вирусных
                гепатитов В и С в коренной популяции Казахстана».</p>
              <p>2014 г. – профессор кафедры гастроэнтерологии Медицинского университета Астана.</p>
              <p>2018 г. - профессор Национального научного онкологического центра г Астана.</p>
              <p>Более 150 публикаций, 3 изобретения.</p>
              <p>2016 г. - участие в международном эпидемиологическом исследовании по распространенности гепатита С в
                мире, результаты которого были опубликованы в журнале «Journal of viral Hepatitis» в 2017 году
                (импакт-фактор 4.0).</p>
              <p>2017 г. - участие в международном эпидемиологическом исследовании по распространенности в мире гепатита
                В, результаты которого были опубликованы в журнале «Lancet Gastroenterology and Hepatology» в 2018 году
                (импакт-фактор 13.4).</p>
              <p>2017 г. - участие в проведении международных клинических исследований (исследование CDA, США:
                прогностическая модель контроля за вирусными гепатитами в рамках глобальной программы ВОЗ 90*90;</p>
              <p>В 2018 году – Председатель организационного комитета и лектор IV Конгресса гепатологов Казахстана,
                который был проведен совместно с Living Donor Liver Transplantation Study Group (LDLT Study Group),
                Президент Jan Lerut , MD, PhD: Professor Emeritus of Surgery, Director of the Starzl Abdominal
                Transplant Unit, University Hospitals Saint Luc and UCL Transplant Centre in Brussels, president of the
                association "LDLT Research Group" (г Бруссель, Бельгия); вице-президент профессор Seoul National
                University K.W. Lee (г. Сеул, Южная Корея).</p>
              <p>Автор-разработчик Республиканских клинических протоколов «Цирроз печени», «Хронический вирусный гепатит
                С», «Неалкогольная жировая болезнь печени», «Болезнь Крона», «Язвенный колит», соавтор-разработчик
                клинического протокола «Трансплантация печени»</p>
              <p>2019 г. - Чешское исследование по НАЖБ, г. Прага.</p>
              <p>2021 г. главный внештатный гестроэнтеролог/гепатолог МЗ РК.</p>
              <p>Член редакционной коллегии «Российского журнала гастроэнтерологии, гепатологии и колопроктологии»
                (импакт-фактор РИНЦ 8,865).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" data-id="2">
        <div class="modal__overlay">
          <div class="overlay modal__content doctor-info">
            <button class="btn modal__close" data-id="2">
              <img src="@images/icons/close-modal.svg" alt="">
            </button>
            <div class="doctor-info__header">
              <div class="doctor-info__img">
                <img src="@images/clinic/doctor-8.png" alt="">
              </div>
              <div class="doctor-info__data">
                <div class="doctor-info__name">Махамбетов Ербол Таргынович</div>
                <div class="doctor-info__text">Врач-нейрохирург высшей категории</div>
              </div>
            </div>
            <div class="doctor-info__body">
              <p>Образование:</p>
              <p>Целиноградский государственный медицинский институт по специальности «лечебное дело».</p>
              <p>Свидетельства/сертификаты о повышении профессиональной квалификации:</p>
              <ul>
                <li>Удостоверение «Современные вопросы гематологии и трансплантологии костного мозга» (144 часа),
                  Санкт-Петербург, РФ, 2016 г.;</li>
                <li>Сертификат «Правила Разработки клинических протоколов, основанных на рекомендациях» (54) часа, г.
                  Астана, 2016 г.</li>
                <li>Сертификат «Инновационные технологии в медицинском образовании» (54 часа), г. Астана, 2016 г.;</li>
                <li>Сертификат «V Евразийский гематологический форум» г. Санкт-Петербург, РФ, 6-9 апреля, 2017 г.;</li>
                <li>Свидетельство «International Hemato Onko Conclave Towards. Improving Outcomes And Accelerating
                  Access» Индия, 23-25 September, 2017 г.;</li>
                <li>Сертификат «Managerial Leadership for clinical Departaments and Service Lines», США, г. Питтсбург,
                  12 февраля-16 марта, 2018 г.</li>
              </ul>
              <p>Ученая степень и звание:</p>
              <ul>
                <li>кандидат медицинских наук, доцент.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}