@use '@styles/main.scss';
@use '@styles/abstracts/_variables.scss' as var;
@use '@styles/base/mixins' as mixin;

.clinic {
  padding-bottom: 83rem;

  @include mixin.laptop {
    padding-bottom: 74rem;
  }
  @include mixin.wide-tablet {
    padding-bottom: 65rem;
  }
  @include mixin.tablet {
    padding-bottom: 55rem;
  }
  @include mixin.small-tablet {
    padding-bottom: 48rem;
  }
  @include mixin.phone {
    padding-bottom: 30rem;
  }
  @include mixin.sm-phone {
    padding-bottom: 25rem;
  }

  &__banner {
    min-height: unset;
    max-height: 750px;

    &:before {
      background-image: url('@images/clinic/nroc.png');
    }
  }
}

.clinic-page {
  &__content {
    width: 100%;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    @include mixin.wide-tablet {
      margin-top: -8rem;
    }
    @include mixin.small-tablet {
      margin-top: -6rem;
    }
    @include mixin.sm-phone {
      margin-top: -4rem;
    }
  }
}

.about-clinic {
  padding: 4.4rem 4.2rem 7.4rem 4.6rem;
  margin-bottom: 5rem;

  @include mixin.wide-tablet {
    margin-bottom: 4rem;
    padding: 3.4rem 3.4rem 6rem 3.8rem;
  }
  @include mixin.small-tablet {
    margin-bottom: 3rem;
    padding: 2.7rem 2.6rem 4.8rem 3rem;
  }
  @include mixin.sm-phone {
    margin-bottom: 2rem;
    padding: 2rem 1.8rem 3.6rem 2.2rem;
  }

  &__title {
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  &__body {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;

    // @include mixin.wide-tablet { margin-bottom: 4rem; padding: 3.4rem 3.4rem 6rem 3.8rem; }
    // @include mixin.small-tablet { margin-bottom: 3rem; padding: 2.7rem 2.6rem 4.8rem 3rem; }
    // @include mixin.sm-phone { margin-bottom: 2rem; padding: 2rem 1.8rem 3.6rem 2.2rem; }
  }

  &__content {
    max-width: 60%;

    @include mixin.laptop {
      max-width: 50%;
    }
    @include mixin.tablet {
      max-width: 100%;
    }

    p {
      margin-bottom: 4rem;

      &:first-child {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include mixin.small-tablet {
      flex-direction: column;
    }

    a {
      img {
        width: 100%;
        @include mixin.small-tablet {
          width: auto;
          max-width: 16rem;
        }
      }
    }
  }

  &__address {
    max-width: 45.5rem;
    padding: 4rem 3rem;

    @include mixin.laptop {
      max-width: 38rem;
      padding: 3rem 2.3rem;
    }
    @include mixin.small-tablet {
      max-width: unset;
      padding: 2rem 1.7rem;
    }
    @include mixin.sm-phone {
      padding: 1.2rem 1rem;
    }
  }

  &__address-item {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    font-family: var.$font-family2;
    font-size: 2rem;

    @include mixin.laptop {
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }
    @include mixin.small-tablet {
      margin-bottom: 1.3rem;
      font-size: 1.4rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
}

.clinic-statistics {
  width: 100%;
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 3rem;

  @include mixin.wide-laptop {
    gap: 2.7rem;
    margin-bottom: 6rem;
  }
  @include mixin.laptop {
    gap: 2.5rem;
    margin-bottom: 5rem;
  }
  @include mixin.wide-tablet {
    gap: 2.3rem;
    margin-bottom: 4rem;
  }
  @include mixin.tablet {
    gap: 2.1rem;
  }
  @include mixin.small-tablet {
    gap: 1.9rem;
  }
  @include mixin.phone {
    gap: 1.7rem;
    margin-bottom: 3rem;
  }
  @include mixin.sm-phone {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  &__col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;

    @include mixin.wide-laptop {
      gap: 2.7rem;
    }
    @include mixin.laptop {
      gap: 2.5rem;
    }
    @include mixin.wide-tablet {
      gap: 2.3rem;
    }
    @include mixin.tablet {
      gap: 2.1rem;
    }
    @include mixin.small-tablet {
      gap: 1.9rem;
    }
    @include mixin.phone {
      gap: 1.7rem;
    }
    @include mixin.sm-phone {
      gap: 1.5rem;
    }
  }

  &__item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 3.3rem;
    padding: 3.6rem 4.2rem 3.6rem 6rem;
    max-height: 18.8rem;

    @include mixin.wide-laptop {
      gap: 1.4rem 2.8rem;
      padding: 3.2rem 3.8rem 3.2rem 5.4rem;
    }
    @include mixin.laptop {
      gap: 1.3rem 2.5rem;
      padding: 2.9rem 3.5rem 2.9rem 5rem;
    }
    @include mixin.wide-tablet {
      gap: 1.2rem 2.2rem;
      padding: 2.6rem 3.2rem 2.6rem 4.6rem;
    }
    @include mixin.tablet {
      gap: 1.1rem 1.9rem;
      padding: 2.3rem 2.9rem 2.3rem 4.2rem;
    }
    @include mixin.small-tablet {
      gap: 1rem 1.6rem;
      padding: 2rem 2.6rem 2rem 3.8rem;
    }
    @include mixin.phone {
      gap: 0.9rem 1.3rem;
      padding: 1.7rem 2.3rem 1.7rem 3.4rem;
    }
    @include mixin.sm-phone {
      gap: 0.8rem 1rem;
      padding: 1.4rem 2rem 1.4rem 3rem;
    }

    &--reverse {
      flex-direction: row-reverse;
    }

    &--col {
      flex-direction: column-reverse;
    }

    &--big {
      max-height: unset;
    }
  }

  &__col:first-child &__item {
    &:not(:first-child) {
      justify-content: flex-end;

      @include mixin.small-tablet {
        justify-content: center;
      }
    }
  }

  &__num {
    font-size: 9.6rem;
    font-weight: 900;

    @include mixin.wide-laptop {
      font-size: 8rem;
    }
    @include mixin.laptop {
      font-size: 7rem;
    }
    @include mixin.wide-tablet {
      font-size: 6rem;
    }
    @include mixin.tablet {
      font-size: 5rem;
    }
    @include mixin.small-tablet {
      font-size: 4rem;
    }
    @include mixin.phone {
      font-size: 3rem;
    }
    @include mixin.sm-phone {
      font-size: 2.2rem;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 700;
    color: var.$color2;

    @include mixin.laptop {
      font-size: 1.8rem;
    }
    @include mixin.tablet {
      font-size: 1.6rem;
    }
    @include mixin.phone {
      font-size: 1.4rem;
    }
  }

  .c1 {
    color: var.$color4;
  }

  .c2 {
    color: var.$color13;
  }

  .c3 {
    color: var.$color14;
  }

  .c4 {
    color: var.$color15;
  }

  .c5 {
    color: var.$color3;
  }

  .c6 {
    color: var.$color16;
  }

  .c7 {
    color: var.$color17;
  }
}

.clinic-block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;

  @include mixin.wide-laptop {
    gap: 2.7rem;
  }
  @include mixin.laptop {
    gap: 2.5rem;
  }
  @include mixin.wide-tablet {
    gap: 2.3rem;
  }
  @include mixin.tablet {
    gap: 2.1rem;
  }
  @include mixin.small-tablet {
    gap: 1.9rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mixin.phone {
    gap: 1.7rem;
  }
  @include mixin.sm-phone {
    gap: 1.5rem;
  }

  &--1 {
    margin-bottom: 3rem;

    @include mixin.wide-laptop {
      margin-bottom: 2.7rem;
    }
    @include mixin.laptop {
      margin-bottom: 2.5rem;
    }
    @include mixin.wide-tablet {
      margin-bottom: 2.3rem;
    }
    @include mixin.tablet {
      margin-bottom: 2.1rem;
    }
    @include mixin.small-tablet {
      margin-bottom: 1.9rem;
    }
    @include mixin.phone {
      margin-bottom: 1.7rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 1.5rem;
    }
  }

  &--2 {
    margin-bottom: 6.5rem;

    .nroc-img {
      flex-grow: 1;

      img {
        max-width: 100%;
        max-height: 420px;
        object-fit: contain;
      }
    }

    .nroc-imgs {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include mixin.wide-laptop {
      margin-bottom: 5.7rem;
    }
    @include mixin.laptop {
      margin-bottom: 5rem;
    }
    @include mixin.wide-tablet {
      margin-bottom: 4.3rem;
    }
    @include mixin.tablet {
      margin-bottom: 3.6rem;
    }
    @include mixin.small-tablet {
      margin-bottom: 2.9rem;
    }
    @include mixin.phone {
      margin-bottom: 2.2rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 1.5rem;
    }
  }

  &--2 &__content {
    max-width: unset !important;
  }

  &--3 {
    padding: 6.5rem 3.5rem;
    margin-bottom: 7rem;
    flex-direction: column;
    text-align: center;

    .nroc-devices {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    .nroc-imgs {
      width: 22%;
      font-size: 1.6rem;
      text-align: center;
    
      @include mixin.wide-tablet {
        width: 31%;
      }
      @include mixin.small-tablet {
        width: 48%;
      }
      @include mixin.phone {
        width: 100%;
      }

      img {
        width: 100%;
        height: 20rem;
        object-fit: contain;
        margin-bottom: 1rem;
      }
    }

    @include mixin.wide-laptop {
      margin-bottom: 5.7rem;
    }
    @include mixin.laptop {
      margin-bottom: 5rem;
    }
    @include mixin.wide-tablet {
      margin-bottom: 4.3rem;
    }
    @include mixin.tablet {
      margin-bottom: 3.6rem;
    }
    @include mixin.small-tablet {
      margin-bottom: 2.9rem;
    }
    @include mixin.phone {
      margin-bottom: 2.2rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5.8rem 7.9rem 7.4rem 8.5rem;

    @include mixin.wide-laptop {
      padding: 5rem 7.3rem 6.8rem 7.4rem;
    }
    @include mixin.laptop {
      padding: 4.5rem 6.6rem 6.1rem 6.7rem;
    }
    @include mixin.wide-tablet {
      padding: 4rem 5.9rem 5.4rem 6rem;
    }
    @include mixin.tablet {
      padding: 3.5rem 5.2rem 4.7rem 5.3rem;
    }
    @include mixin.small-tablet {
      padding: 3rem 4.5rem 4rem 4.6rem;
    }
    @include mixin.phone {
      padding: 2.5rem 3.8rem 3.3rem 3.9rem;
    }
    @include mixin.sm-phone {
      padding: 2rem 3rem 2.6rem 3.2rem;
    }
  }

  &--2 &__content {
    max-width: 86.5rem;
  }

  &--3 &__content {
    background: var.$color18;
    max-width: 59.1rem;
    border-radius: 1rem;
  }

  &__title {
    line-height: 1.2;
    margin-bottom: 3.5rem;

    @include mixin.wide-tablet {
      margin-bottom: 2.8rem;
    }
    @include mixin.tablet {
      margin-bottom: 2.2rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    list-style: disc;
    font-size: 2rem;
    font-weight: 500;
    color: var.$color2;
    margin-left: 1.8rem;

    @include mixin.wide-tablet {
      font-size: 1.8rem;
    }
    @include mixin.tablet {
      font-size: 1.6rem;
    }
    @include mixin.sm-phone {
      font-size: 1.4rem;
    }
  }

  &__item {
    line-height: 1.6;
  }

  &__img {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--3 &__img {
    border-radius: 1rem;
  }
}

.doctors {
  &__title {
    margin-bottom: 4rem;

    @include mixin.laptop {
      margin-bottom: 3rem;
    }
    @include mixin.small-tablet {
      margin-bottom: 2.5rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.5rem;
    margin-bottom: 10rem;

    @include mixin.laptop {
      gap: 3rem;
      margin-bottom: 8.5rem;
    }
    @include mixin.wide-tablet {
      margin-bottom: 7rem;
      gap: 2.5rem;
      flex-wrap: wrap;
    }
    @include mixin.small-tablet {
      margin-bottom: 5.5rem;
      gap: 2rem;
    }
    @include mixin.sm-phone {
      margin-bottom: 4rem;
      gap: 1.5rem;
    }
  }

  .doctor {
    padding: 4.5rem 2.6rem 4rem 4rem;
    margin-bottom: 1rem;
    flex-grow: 1;

    @include mixin.laptop {
      padding: 3.8rem 2.2rem 3.5rem 3.5rem;
    }
    @include mixin.wide-tablet {
      max-width: 40%;
      padding: 3.2rem 1.8rem 3rem 3rem;
    }
    @include mixin.small-tablet {
      max-width: 100%;
      padding: 2.6rem 1.4rem 2.5rem 2.5rem;
    }
    @include mixin.sm-phone {
      padding: 2rem 1rem 2rem 2rem;
    }

    &__img {
      margin: 0 auto;
      margin-bottom: 3rem;
      width: 100%;
      max-width: 232px;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;

      @include mixin.wide-tablet {
        margin-bottom: 2rem;
      }
      @include mixin.sm-phone {
        margin-bottom: 1rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      margin-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 700;

      @include mixin.small-tablet {
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }
    }

    &__text {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 3rem;

      @include mixin.wide-tablet {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
      }
      @include mixin.small-tablet {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
      @include mixin.sm-phone {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
    }

    &__btn {
      border-radius: 1rem;
      border: none;
      outline: none;
      background: var.$color3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var.$color1;
      font-weight: 500;
      font-family: var.$font-family;
      gap: 1rem;
      font-size: 1.4rem;
      line-height: 1;
      vertical-align: middle;
      padding: 1.5rem 3rem;
      cursor: pointer;

      @include mixin.wide-tablet {
        padding: 1.1rem 2.5rem;
        font-size: 1.26rem;
      }
      @include mixin.small-tablet {
        padding: 0.8rem 2rem;
        font-size: 1.13rem;
      }
      @include mixin.sm-phone {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
      }
    }
  }
}

.doctor-info {
  position: relative;
  padding: 4.5rem 3rem;
  max-width: 95.7rem;

  @include mixin.wide-tablet {
    padding: 3.25rem 2.25rem;
  }
  @include mixin.small-tablet {
    padding: 2rem 1.5rem;
    max-width: unset;
  }

  &__header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5.8rem;
    margin-bottom: 4.3rem;

    @include mixin.wide-tablet {
      margin-bottom: 3.15rem;
      gap: 4rem;
    }
    @include mixin.small-tablet {
      margin-bottom: 2rem;
      gap: 2.5rem;
    }
  }

  &__img {
    width: 100%;
    max-width: 23.2rem;

    @include mixin.wide-tablet {
      max-width: 17rem;
    }
    @include mixin.small-tablet {
      max-width: 15rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__data {
    padding-top: 3.9rem;
    flex-grow: 1;

    @include mixin.wide-tablet {
      padding-top: 2.95rem;
    }
    @include mixin.small-tablet {
      padding-top: 2rem;
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var.$color2;

    @include mixin.wide-tablet {
      font-size: 1.8rem;
    }
    @include mixin.small-tablet {
      font-size: 1.6rem;
      text-align: center;
    }
  }

  &__text {
    font-size: 2rem;
    color: var.$color2;
    margin-bottom: 4.3rem;

    @include mixin.wide-tablet {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }
    @include mixin.small-tablet {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  &__exps {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2.1rem;

    @include mixin.wide-tablet {
      gap: 1.55rem;
    }
    @include mixin.small-tablet {
      gap: 1rem;
    }
  }

  &__exp {
    padding: 1.2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 12.5rem;
    flex-grow: 1;

    @include mixin.wide-tablet {
      padding: 0.9rem 0.4rem;
    }
    @include mixin.small-tablet {
      padding: 0.6rem 0.3rem;
    }
  }

  &__exp-title {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.3rem;
    color: var.$color4;

    @include mixin.wide-tablet {
      font-size: 2.1rem;
    }
    @include mixin.small-tablet {
      font-size: 1.8rem;
    }
  }

  &__exp-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var.$color2;

    @include mixin.wide-tablet {
      font-size: 1.4rem;
    }
    @include mixin.small-tablet {
      font-size: 1.2rem;
    }
  }

  &__body {
    p {
      font-size: 2rem;
      line-height: 1.2;

      @include mixin.wide-tablet {
        font-size: 1.8rem;
      }
      @include mixin.tablet {
        font-size: 1.6rem;
      }
      @include mixin.small-tablet {
        font-size: 1.4rem;
      }
    }

    ul {
      list-style: disc;
      margin-left: 2.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-size: 1.6rem;

      @include mixin.wide-tablet {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      @include mixin.small-tablet {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      li {
        line-height: 1.4;
      }
    }
  }
}
