{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Республиканский диагностический центр" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/clinic.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@scripts/clinic.js"></script>
{% endblock %}

{% block content %}
<section class="banner clinic__banner">
  <div class="container">
    <div class="banner__img">
      <img src="@images/clinic/diagnostic.png" alt="">
    </div>
    <h1 class="banner-title gsap-reveal">Республиканский диагностический центр</h1>
  </div>
</section>
<section class="clinic-page">
  <div class="container">
    <div class="clinic-page__content">
      <div class="overlay about-clinic gsap-reveal">
        <div class="title-2 about-clinic__title gsap-reveal">О клинике</div>
        <div class="row about-clinic__body">
          <div class="about-clinic__content">
            <p class="gsap-reveal" data-gsap-delay="300">Диагностический центр специализируется на оказании консультативно-диагности- ческой медицинской помощи взрослым и детям.</p>
            <div class="about-clinic__images">
              <a href="/" class="gsap-reveal" data-gsap-delay="700"><img src="@images/clinic/clinic-img-1.png" alt=""></a>
              <a href="/" class="gsap-reveal" data-gsap-delay="800"><img src="@images/clinic/clinic-img-2.png" alt=""></a>
              <a href="/" class="gsap-reveal" data-gsap-delay="900"><img src="@images/clinic/clinic-img-3.png" alt=""></a>
            </div>
          </div>
          <div class="overlay about-clinic__address">
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="550">
              <div><img src="@images/icons/pin.svg" alt=""></div>
              <div>010000, Республика Казахстан, г. Астана, ул. Сыганак 2</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="700">
              <div><img src="@images/icons/phone.svg" alt=""></div>
              <div>+7 (7172) 70 15 51 (Приемная) <br/> +7 (7172) 70 15 57 (Телефон доверия)</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="850">
              <div><img src="@images/icons/e-mail.svg" alt=""></div>
              <div><a href="mailto:rdc@umc.org.kz">rdc@umc.org.kz</a></div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="1000">
              <div><img src="@images/icons/globe.svg" alt=""></div>
              <div><a href="https://umc.org.kz/">https://umc.org.kz</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="clinic-statistics">
        <div class="clinic-statistics__col">
          <div class="overlay clinic-statistics__item gsap-reveal">
            <div class="clinic-statistics__text">Работает с <br> Since</div>
            <div class="clinic-statistics__num c1">2008</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Амбулаторных операций<br>  в год</div>
            <div class="clinic-statistics__num c2">1200</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Видов лабораторных<br>  исследований</div>
            <div class="clinic-statistics__num c3">650</div>
          </div>
        </div>
        <div class="clinic-statistics__col">
          <div class="overlay clinic-statistics__item clinic-statistics__item--reverse gsap-reveal">
            <div class="clinic-statistics__text">Медицинских <br> работников</div>
            <div class="clinic-statistics__num c5">725</div>
          </div>
          <div class="overlay clinic-statistics__item clinic-statistics__item--col clinic-statistics__item--big gsap-reveal">
            <div class="clinic-statistics__text">Лабораторных исследований <br> в год</div>
            <div class="clinic-statistics__num c7">120000</div>
          </div>
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--1 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">Check-up Программы:</div>
          <ul class="clinic-block__list">
            <li class="clinic-block__item">Для женщин (Базовая программа, Базовая программа + Онко, Женское здоровье); </li>
            <li class="clinic-block__item">Для мужчин (Базовая программа, Базовая программа + Онко, Мужское здоровье);</li>
          </ul>
        </div>
        <div class="clinic-block__img">
          <img src="@images/clinic/diagnostic2.png" alt="">
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--2 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">Высококвалифицированные врачи по 46 специальностям:</div>
					<div class="clinic-block">
						 <ul class="clinic-block__list">
            <li class="clinic-block__item">Терапия</li>
            <li class="clinic-block__item">Дерматология</li>
            <li class="clinic-block__item">Оториноларингология</li>
						<li class="clinic-block__item">Педиатрия</li>
            <li class="clinic-block__item">Ангиохирургия</li>
            <li class="clinic-block__item">Сурдология</li>
						<li class="clinic-block__item">Хирургия</li>
            <li class="clinic-block__item">Уронефрология</li>
          </ul>
					<ul class="clinic-block__list">
						<li class="clinic-block__item">Офтальмология</li>
						<li class="clinic-block__item">Кардиология</li>
						<li class="clinic-block__item">Гинекология</li>
            <li class="clinic-block__item">Эндокринология</li>
						<li class="clinic-block__item">Неврология</li>
            <li class="clinic-block__item">Маммология</li>
            <li class="clinic-block__item">Гастроэнтерология</li>
						<li class="clinic-block__item">Ревматология</li>
          </ul>
					<ul class="clinic-block__list">
						<li class="clinic-block__item">Аллергология</li>
            <li class="clinic-block__item">Гепатология</li>
						<li class="clinic-block__item">Ортопедия</li>
            <li class="clinic-block__item">Пульмонология</li>
            <li class="clinic-block__item">Гематология</li>
						<li class="clinic-block__item">Трансфузиология</li>
            <li class="clinic-block__item">Стоматология</li>
            <li class="clinic-block__item">Профпатология</li>
          </ul>
					</div>
         
        </div>
        <div class="clinic-block__img">
          <img src="@images/clinic/diagnostic3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}