{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Клиники Астаны" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/clinics/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/clinics/index.js"></script>
{% endblock %}

{% block content %}
<section class="clinics-page">
  <div class="container">
    <h1 class="title-1 clinics-page__title gsap-reveal">Клиники Астаны</h1>
    <div class="clinics-page__content">
      <a href="/clinic" class="clinics gsap-reveal" data-gsap-delay="100">
        <img class="clinics__image" src="@images/home/clinic-1.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Национальный научный кардиохирургический центр</div>
      </a>
      <a href="/maternal" class="clinics gsap-reveal" data-gsap-delay="200">
        <img class="clinics__image" src="@images/home/maternalCenter.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Центр материнства и детства</div>
      </a>
      <a href="/diagnostic" class="clinics gsap-reveal" data-gsap-delay="300">
        <img class="clinics__image" src="@images/home/diagnostic.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Республиканский диагностический центр</div>
      </a>
      <a href="/children-reabilitation" class="clinics gsap-reveal" data-gsap-delay="400">
        <img class="clinics__image" src="@images/home/children.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Национальный центр детской реабилитации</div>
      </a>
      <a href="/neurosurgery" class="clinics gsap-reveal" data-gsap-delay="100">
        <img class="clinics__image" src="@images/home/neurosurgery.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Национальный научный нейрохирургии</div>
      </a>
      <a href="/president" class="clinics gsap-reveal" data-gsap-delay="200">
        <img class="clinics__image" src="@images/home/president.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Больница медицинского центра управления делами президента РК</div>
      </a>
      <a href="/umit" class="clinics gsap-reveal" data-gsap-delay="300">
        <img class="clinics__image" src="@images/home/umit.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">Международный онкологический центр томотерапии "UMIT"</div>
      </a>
      <a href="/nroc" class="clinics gsap-reveal" data-gsap-delay="300">
        <img class="clinics__image" src="@images/clinic/nroc.png" alt="">
        <img class="clinics__arrow" src="@images/icons/arrow-line-white.svg" alt="">
        <div class="clinics__title">НАЦИОНАЛЬНЫЙ НАУЧНЫЙ ОНКОЛОГИЧЕСКИЙ ЦЕНТР</div>
      </a>
    </div>
    <!-- <button class="btn clinics-page__btn gsap-reveal" data-gsap-delay="100">Показать еще...</button> -->
  </div>
</section>
{% endblock %}