{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Международный онкологический центр томотерапии UMIT" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/clinic.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
{% endblock %}

{% block content %}
<section class="banner clinic__banner">
  <div class="container">
    <h1 class="banner-title gsap-reveal">Razzak - residence clinic</h1>
  </div>
</section>
<section class="clinic-page">
  <div class="container">
    <div class="clinic-page__content">
      <div class="overlay about-clinic gsap-reveal">
        <div class="title-2 about-clinic__title gsap-reveal">О клинике</div>
        <div class="row about-clinic__body">
          <div class="about-clinic__content">
            <p class="gsap-reveal" data-gsap-delay="300">Razzak Residence Clinic является премиальной стоматологической
              клиникой, это качественное, быстрое, комфортное и эффективное решение физиологических и эстетических
              проблем с зубами.</p>
              <div class="about-clinic__images">
                <img src="@images/clinic/razzak-2.png" alt="" style="max-width: 250px;">
              </div>
          </div>
          <div class="overlay about-clinic__address">
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="550">
              <div><img src="@images/icons/pin.svg" alt=""></div>
              <div>010000, Республика Казахстан, г. Астана, ул. Кунаева, 11</div>
            </div>
            <div class="about-clinic__address-item gsap-reveal" data-gsap-delay="700">
              <div><img src="@images/icons/phone.svg" alt=""></div>
              <div>+7 702 111 70 99 <br /> +7 771 111 70 00</div>
            </div>
            <a href="https://razzak.kz/" class="about-clinic__address-item gsap-reveal" data-gsap-delay="1000">
              <div><img src="@images/icons/globe.svg" alt=""></div>
              <div>razzak.kz</div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="overlay clinic-block clinic-block--1 gsap-reveal">
        <div class="clinic-block__content">
          <!-- <div class="title-2 clinic-block__title">Основные клинические направления Центра:</div> -->
          <p class="gsap-reveal" data-gsap-delay="300">Razzak Residence Clinic — гармоничное соотношение качества, комфорта и надежности. Мы также, предлагаем
            весь спектр стоматологических услуг и обеспечиваем эксклюзивное ведение каждого пациента.</p>
          <br>
          <br>
          <p class="gsap-reveal" data-gsap-delay="300">Наша команда непрерывно обучается и перенимает опыт ведущих международных экспертов в таких странах как
            Швейцария, Германия, Япония, США, Израиль, Южная Корея, ОАЭ. Наши специалисты подробно объяснят процесс и
            план лечения.</p>
        </div>
        <div class="clinic-block__img" style="width: 100%;">
          <img src="@images/clinic/razzak-1.jpg" alt="">
        </div>
      </div>

      <div class="overlay clinic-block clinic-block--2 gsap-reveal">
        <div class="clinic-block__content">
          <div class="title-2 clinic-block__title">Проводимые процедуры:</div>
          <ul class="clinic-block__list">
            <li class="clinic-block__item">Приемы по гирудотерапии, венерологии,
              дерматологии, дерматовенерологии;</li>
            <li class="clinic-block__item">Коррекция возрастных изменений лица и тела: миофасциальный массаж лица, пилинги, мезотерапия, биоревитализация, плазмолифтинг, диспорт, аппаратная косметология, PRP терапия, SMAS-лифтинг;</li>
            <li class="clinic-block__item">Гирудотерапия, фитотерапия;</li>
            <li class="clinic-block__item">Программы по коррекции фигуры: инъекции липолитиков, вакуумный массаж, миостимуляция, прессотерапия;</li>
            <li class="clinic-block__item">Трихология, лечение аллопеции;</li>
            <li class="clinic-block__item">Лечение акне, аппаратное лечение;</li>
            <li class="clinic-block__item">Депиляция, пирсинг ушных мочек.</li>
          </ul>
        </div>
        <div class="clinic-block__img">
          <img src="@images/clinic/razzak-5.jpg" alt="">
        </div>
      </div>

      <!-- <div class="doctors">
        <div class="title-2 doctors__title gsap-reveal">Врачи</div>
        <div class="doctors__list">
          <div class="overlay doctor gsap-reveal" data-gsap-delay="300">
            <div class="doctor__img">
              <img src="@images/clinic/doctor-1.png" alt="">
            </div>
            <div class="doctor__title">Дарибаев Жолтай Рахимбекович</div>
            <div class="doctor__text">Невролог высшей категории к.м.н., доцент, PhD, MBA</div>
            <button class="doctor__btn">Подробнее <img src="@images/icons/small-white-icon.svg" alt=""></button>
          </div>
          <div class="overlay doctor gsap-reveal" data-gsap-delay="500">
            <div class="doctor__img">
              <img src="@images/clinic/doctor-1.png" alt="">
            </div>
            <div class="doctor__title">Дарибаев Жолтай Рахимбекович</div>
            <div class="doctor__text">Невролог высшей категории к.м.н., доцент, PhD, MBA</div>
            <button class="doctor__btn">Подробнее <img src="@images/icons/small-white-icon.svg" alt=""></button>
          </div>
          <div class="overlay doctor gsap-reveal" data-gsap-delay="700">
            <div class="doctor__img">
              <img src="@images/clinic/doctor-1.png" alt="">
            </div>
            <div class="doctor__title">Дарибаев Жолтай Рахимбекович</div>
            <div class="doctor__text">Невролог высшей категории к.м.н., доцент, PhD, MBA</div>
            <button class="doctor__btn">Подробнее <img src="@images/icons/small-white-icon.svg" alt=""></button>
          </div>
          <div class="overlay doctor gsap-reveal" data-gsap-delay="900">
            <div class="doctor__img">
              <img src="@images/clinic/doctor-1.png" alt="">
            </div>
            <div class="doctor__title">Дарибаев Жолтай Рахимбекович</div>
            <div class="doctor__text">Невролог высшей категории к.м.н., доцент, PhD, MBA</div>
            <button class="doctor__btn">Подробнее <img src="@images/icons/small-white-icon.svg" alt=""></button>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- <div class="modal">
    <div class="modal__overlay">
      <div class="overlay modal__content doctor-info">
        <button class="btn modal__close">
          <img src="@images/icons/close-modal.svg" alt="">
        </button>
        <div class="doctor-info__header">
          <div class="doctor-info__img">
            <img src="@images/clinic/doctor-1.png" alt="">
          </div>
          <div class="doctor-info__data">
            <div class="doctor-info__name">Дарибаев Жолтай Рахимбекович</div>
            <div class="doctor-info__text">Невролог высшей категории к.м.н., доцент, PhD, MBA</div>
            <div class="doctor-info__exps">
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">34 года</div>
                <div class="doctor-info__exp-text">опыт работы</div>
              </div>
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">2</div>
                <div class="doctor-info__exp-text">патента</div>
              </div>
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">1</div>
                <div class="doctor-info__exp-text">внедренная технология</div>
              </div>
              <div class="overlay doctor-info__exp">
                <div class="doctor-info__exp-title">170</div>
                <div class="doctor-info__exp-text">научных публикаций</div>
              </div>
            </div>
          </div>
        </div>
        <div class="doctor-info__body">
          <p>Непрерывно повышает свою квалификацию, проходил обучение в России, США, Германии, Австрии. Швейцарии,
            Франции, Чехии, Китае. Занимается диагностикой, лечением и реабилитацией при:</p>
          <ul>
            <li>сосудистых заболеваниях головного и спинного мозга;</li>
            <li>заболеваниях позвоночника (остеохондрозы, патология дисков) и периферической нервной системы;</li>
            <li>демиелинизирующих заболеваниях нервной системы;</li>
            <li>судорожных и пароксизмальных состояниях в неврологии;</li>
            <li>головных болях и головокружениях;</li>
            <li>болях в спине;</li>
            <li>нарушениях памяти;</li>
            <li>при поражений нервной системы и опорно-двигательного аппарата и когнитивных функций.</li>
          </ul>
          <p>Внедрил в Казахстане технологию ранней диагностики сосудистых нарушений мозгового кровообращения.</p>
        </div>
      </div>
    </div>
  </div> -->
</section>
{% endblock %}