{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Check-up" %}

{% block styles %}
<!-- load specific page style -->
<link href="@styles/pages/check-up.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
{% endblock %}

{% block content %}
<section class="check-up">
  <img src="@images/check-up/check-up-1.png" alt="">
  <img src="@images/check-up/check-up-2.png" alt="">
  <div class="container check-up__container">
    <div class="title-1 check-up__title">Check up</div>
    <div class="check-up-page__content">
      <div class="overlay check-up-page__item gsap-reveal">
        <div class="check-up-page__item-img">
          <img class="gsap-reveal" src="@images/check-up-img-1.jpg" alt="" data-gsap-delay="300">
        </div>
        <div class="check-up-page__item-content">
          <p class="gsap-reveal" data-gsap-delay="600"><strong>Подготовка к диагностическому обследованию</strong></p>
          <p class="gsap-reveal" data-gsap-delay="600">Обезопасьте себя, Ваших детей и родителей от тяжелых заболеваний, выявив возможные отклонения на комплексном обследовании check up по доступным ценам</p>
          <p class="gsap-reveal" data-gsap-delay="600">20% серьезных диагнозов выявляются благодаря check up. Это мотивирует людей оперативно принимать меры и своевременно проходить курс лечения.</p><br><br><br>
          <p class="gsap-reveal" data-gsap-delay="900">Самый быстрый check up занимает всего 3 часа. Возможно, именно столько времени нужно Вам, чтобы не допустить серьезных проблем со здоровьем в будущем.</p>
        </div>
      </div>
      <div class="overlay check-up-page__item check-up-page__item--reverse gsap-reveal">
        <div class="check-up-page__item-content">
          <p class="gsap-reveal" data-gsap-delay="600">Правильная подготовка к диагностическому обследованию служит залогом для успешного проведения Check Up и получения точных результатов:</p>
          <ul class="gsap-reveal" data-gsap-delay="1000">
            <li>Последний прием пищи до 23:00 накануне CheckUp;</li>
            <li>Не завтракать, не пить чай или кофе, не курить;</li>
            <li>Не наносить кремы или лосьоны на кожу перед электрокардиограммой (ЭКГ);</li>
            <li>Не рекомендованы физические нагрузки накануне CheckUp;</li>
            <li>Не употреблять алкоголь за 2 дня до сдачи анализов;</li>
            <li>Рекомендуется иметь при себе копию медицинской карты с результатами предыдущих анализов, если они сохранились;</li>
            <li>Для проведения теста с нагрузкой необходимо иметь спортивный костюм;</li>
            <li>Рекомендуем приходить на CheckUp без украшений.</li>
          </ul>
          <div class="check-up-page__item-title gsap-reveal" data-gsap-delay="800">Внимание:</div>
          <p class="gsap-reveal" data-gsap-delay="900">
            <img class="gsap-reveal" src="@images/check-up/check-up-img-2.jpg" alt="" data-gsap-delay="300">
            1. Утром до сдачи анализов не принимайте: гормоны, кортизоны, инсулин, кроворазжижающие (антикоагулянты), но имейте их при себе для приема после сдачи анализов. <br>
            2. За три дня до диагностики приостановить прием витаминов, железа, различных пищевых добавок. <br>
            3. Не прекращайте употребление лекарств, связанных с хроническими заболеваниями, такими как: сахарный диабет, гипертония, заболевание сердца, щитовидной железы, для снижения уровня холестерина, ревматические заболевания, психиатрические и неврологические заболевания. <br>
            4. Никаких физических и эмоциональных перегрузок. <br>
          </p>
        </div>
      </div>
    </div>
    <div class="check-up__subtitle">Полное комплексное обследование организма для женщин и мужчин</div>
    <div class="check-up__body">
      <img src="@images/check-up/check-up-man.png" alt="">
      <ul class="check-up__list">
        <li class="check-up__item">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--left"><a href="/check-up/check-up-list?id=1">Неврологический</a></div>
        </li>
        <li class="check-up__item check-up__item--right">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--right"><a href="/check-up/check-up-list?id=1">Офтальмологический</a></div>
        </li>
        <li class="check-up__item">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--left"><a href="/check-up/check-up-list?id=1">Отоларингологический</a></div>
        </li>
        <li class="check-up__item">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--left"><a href="/check-up/check-up-list?id=1">Стоматологический</a></div>
        </li>
        <li class="check-up__item check-up__item--right">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--right"><a href="/check-up/check-up-list?id=1">Онкологический</a></div>
        </li>
        <li class="check-up__item">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--left"><a href="/check-up/check-up-list?id=1">Кардиологический</a></div>
        </li>
        <li class="check-up__item check-up__item--right">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--right"><a href="/check-up/check-up-list?id=1">Для курящих</a></div>
        </li>
        <li class="check-up__item">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--left"><a href="/check-up/check-up-list?id=1">Эндокринологический</a></div>
        </li>
        <li class="check-up__item check-up__item--right">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--right"><a href="/check-up/check-up-list?id=1">Для родителей</a></div>
        </li>
        <li class="check-up__item">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--left"><a href="/check-up/check-up-list?id=1">Гастроэнтерологический</a></div>
        </li>
        <li class="check-up__item check-up__item--right">
          <img src="@images/check-up/check-up-point.png" alt="">
          <div class="check-up__line">
            <svg viewBox="0 0 174 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.00002L173.5 1" stroke="#FFF4BB" stroke-dasharray="2 2" />
            </svg>
          </div>
          <div class="check-up__text check-up__text--right"><a href="/check-up/check-up-list?id=1">Готовлюсь стать <br> мамой и папой</div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}