{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Sanatory" %}

{% block styles %}
<!-- load specific page style -->
<link href="@/views/pages/check-up/style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="@/views/pages/check-up/index.js"></script>
{% endblock %}

{% block content %}
<section class="banner check-up__banner">
  <div class="container">
    <h1 class="banner-title gsap-reveal">Check up</h1>
    <h1 class="banner-subtitle gsap-reveal" data-gsap-delay="300">Полное комплексное <br> обследование организма</h1>
  </div>
</section>
<section class="check-up-page">
  <div class="container">
    <div class="check-up-page__content">
      <div class="overlay check-up-page__item gsap-reveal">
        <div class="check-up-page__item-img">
          <img class="gsap-reveal" src="@images/check-up-img-1.png" alt="" data-gsap-delay="300">
        </div>
        <div class="check-up-page__item-content">
          <p class="gsap-reveal" data-gsap-delay="600">Обезопасьте себя, Ваших детей и родителей от тяжелых заболеваний, выявив возможные отклонения на комплексном обследовании check up по доступным ценам</p>
          <div class="check-up-page__item-title gsap-reveal" data-gsap-delay="800">Типы</div>
          <ul class="gsap-reveal" data-gsap-delay="1000">
            <li>Для мужчин и женщин</li>
            <li>Готовлюсь стать мамой и папой</li>
            <li>Онкологический</li>
            <li>Кардиологический</li>
            <li>Гастроэнтерологический</li>
            <li>Для родителей</li>
            <li>Для курящих</li>
            <li>Стоматологический</li>
          </ul>
        </div>
      </div>
      <div class="overlay check-up-page__item check-up-page__item--reverse gsap-reveal">
        <div class="check-up-page__item-img">
          <img class="gsap-reveal" src="@images/check-up-img-2.png" alt="" data-gsap-delay="300">
        </div>
        <div class="check-up-page__item-content">
          <p class="gsap-reveal" data-gsap-delay="600">20% серьезных диагнозов выявляются благодаря check up. Это мотивирует людей оперативно принимать меры и своевременно проходить курс лечения.</p>
          <p class="gsap-reveal" data-gsap-delay="900">Самый быстрый check up занимает всего 3 часа. Возможно, именно столько времени нужно Вам, чтобы не допустить серьезных проблем со здоровьем в будущем.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}